.AdminPage {
  display: flex;
  justify-content: center; }
  .AdminPage-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    min-height: 48vh; }
    .AdminPage-Content .AdminInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%; }
      .AdminPage-Content .AdminInfo .Exit {
        width: 100px;
        height: 25px;
        background-color: red;
        color: white;
        margin-left: auto; }
      .AdminPage-Content .AdminInfo .Sections {
        width: 900px;
        text-align: left;
        margin-bottom: 25px;
        display: flex;
        flex-wrap: wrap; }
        .AdminPage-Content .AdminInfo .Sections-Button {
          text-decoration: none;
          margin-right: 20px;
          margin-bottom: 10px; }
          .AdminPage-Content .AdminInfo .Sections-Button h4 {
            color: #767676; }
          .AdminPage-Content .AdminInfo .Sections-Button.active h4 {
            color: #337FFA;
            border-bottom: 2px solid #337FFA; }
      .AdminPage-Content .AdminInfo .navBar {
        width: 900px;
        margin-bottom: 40px; }
        .AdminPage-Content .AdminInfo .navBar .navButton {
          margin: 5px 10px;
          font-size: 16px;
          font-weight: 600;
          max-width: 240px;
          text-align: left; }
          .AdminPage-Content .AdminInfo .navBar .navButton h5 {
            color: #767676; }
          .AdminPage-Content .AdminInfo .navBar .navButton.active h5 {
            color: #337FFA; }

.AllTable {
  width: 1200px;
  overflow-x: scroll; }
  .AllTable .DeleteMessage {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    left: 45%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px; }
    .AllTable .DeleteMessage button {
      margin-top: 20px;
      width: 100px;
      height: 20px;
      background-color: green;
      color: white; }
      .AllTable .DeleteMessage button:nth-child(2) {
        background-color: red; }
  .AllTable .ButtonsWindow {
    display: none;
    width: 175px;
    height: 80px;
    box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    flex-direction: column; }
    .AllTable .ButtonsWindow button {
      height: 40px; }
      .AllTable .ButtonsWindow button:hover {
        background-color: #D8D8D8; }
      .AllTable .ButtonsWindow button:nth-child(1) {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        color: #004CC7; }
      .AllTable .ButtonsWindow button:nth-child(2) {
        color: #FF4D4D;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px; }
  .AllTable table {
    width: 1815px; }
    .AllTable table tbody tr:hover {
      background-color: #AED7FD;
      cursor: pointer; }
    .AllTable table tbody th {
      width: 175px; }
      .AllTable table tbody th:nth-child(1) {
        width: 20px; }
      .AllTable table tbody th:nth-last-child(1) {
        width: 20px; }
    .AllTable table tbody td {
      width: 175px; }
      .AllTable table tbody td:nth-child(1) {
        width: 20px; }
      .AllTable table tbody td:nth-last-child(1) {
        width: 20px; }
      .AllTable table tbody td .DeleteButton {
        background-color: red;
        height: 25px;
        color: white; }
      .AllTable table tbody td .addButton {
        background-color: green;
        height: 25px;
        color: white; }
    .AllTable table tbody input {
      width: 160px;
      border: none; }

.SubscribeTable table tbody tr:hover {
  background-color: #AED7FD;
  cursor: pointer; }

.SubscribeTable table tbody th {
  width: 155px; }
  .SubscribeTable table tbody th:nth-child(1) {
    width: 20px; }
  .SubscribeTable table tbody th:nth-last-child(1) {
    width: 20px; }

.SubscribeTable table tbody td .DeleteButton {
  background-color: red;
  height: 25px;
  color: white; }

.Briefs {
  min-height: 1100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Briefs .delete {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .Briefs .delete:hover {
      cursor: pointer;
      opacity: 0.8; }
  .Briefs span {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    font-size: 22px;
    color: #1A1A1A; }
  .Briefs-Cards {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .Briefs-Cards .Card {
      width: 555px;
      min-height: 160px;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.1), -7px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px; }
      .Briefs-Cards .Card:hover {
        cursor: pointer;
        opacity: 0.8; }
      .Briefs-Cards .Card .left {
        display: flex;
        flex-direction: column; }
  .Briefs form {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    width: 1000px;
    background-color: white;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.1), -7px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 20; }
    .Briefs form textarea {
      width: 100%;
      height: 200px;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 20px;
      outline: none; }
  .Briefs #DataWindowOrders {
    flex-direction: column; }
    .Briefs #DataWindowOrders h4 {
      margin: 8px 0 8px 0; }
    .Briefs #DataWindowOrders h3 {
      margin: 56px 0 32px 0; }
    .Briefs #DataWindowOrders form {
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px; }
      .Briefs #DataWindowOrders form input {
        height: 32px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #767676; }
        .Briefs #DataWindowOrders form input.active {
          color: #1A1A1A;
          border-bottom: 2px solid #1A1A1A; }
        .Briefs #DataWindowOrders form input:focus {
          border-bottom: 2px solid #005FF9;
          color: #005FF9; }
    .Briefs #DataWindowOrders .CheckGroup {
      width: 75%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 26px; }
      .Briefs #DataWindowOrders .CheckGroup .CheckButton {
        display: flex;
        align-items: center; }
        .Briefs #DataWindowOrders .CheckGroup .CheckButton .CheckPoint {
          cursor: pointer;
          box-sizing: border-box;
          margin-right: 27px;
          width: 30px;
          height: 27px;
          border: 4px solid #767676;
          border-radius: 5px; }
          .Briefs #DataWindowOrders .CheckGroup .CheckButton .CheckPoint.activeCheck {
            display: flex;
            align-items: center;
            justify-content: center;
            border-color: #005FF9;
            background: #005FF9; }
    .Briefs #DataWindowOrders textarea {
      font-size: 15px;
      outline: none;
      min-width: 100%;
      max-width: 100%;
      min-height: 249px;
      max-height: 249px;
      box-sizing: border-box;
      padding: 18px 18px 18px 30px;
      border: 2px solid #AFAFAF;
      border-radius: 5px; }
      .Briefs #DataWindowOrders textarea.active {
        color: #1A1A1A;
        border: 2px solid #1A1A1A; }
      .Briefs #DataWindowOrders textarea:focus {
        border: 2px solid #005FF9;
        color: #005FF9; }
  .Briefs .files {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%; }
    .Briefs .files .fileBlock {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }

.Messages {
  display: flex;
  flex-direction: column;
  width: 1000px; }
  .Messages .SortInterface {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px; }
    .Messages .SortInterface .FirstSort {
      display: flex;
      flex-direction: column;
      position: relative; }
      .Messages .SortInterface .FirstSort-Button {
        width: 290px;
        height: 70px;
        padding: 0 20px;
        border: 1px solid #767676;
        border-radius: 10px;
        text-align: left; }
        .Messages .SortInterface .FirstSort-Button:hover {
          cursor: pointer;
          opacity: 0.8; }
      .Messages .SortInterface .FirstSort-Window {
        position: absolute;
        top: 60px;
        width: 288px;
        padding-bottom: 10px;
        border: 1px solid #767676;
        border-radius: 0 0 10px 10px;
        border-top: transparent;
        background-color: white; }
        .Messages .SortInterface .FirstSort-Window button {
          height: 40px;
          padding: 0 20px; }
          .Messages .SortInterface .FirstSort-Window button:hover {
            opacity: 0.8; }
    .Messages .SortInterface .SecondSort {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-left: 15px; }
      .Messages .SortInterface .SecondSort-Button {
        width: 290px;
        height: 70px;
        padding: 0 20px;
        border: 1px solid #767676;
        border-radius: 10px;
        text-align: left; }
        .Messages .SortInterface .SecondSort-Button:hover {
          cursor: pointer;
          opacity: 0.8; }
      .Messages .SortInterface .SecondSort-Window {
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        width: 288px;
        padding-bottom: 10px;
        border: 1px solid #767676;
        border-radius: 0 0 10px 10px;
        border-top: transparent;
        background-color: white; }
        .Messages .SortInterface .SecondSort-Window button {
          height: max-content;
          padding: 0 20px;
          text-align: left; }
          .Messages .SortInterface .SecondSort-Window button:hover {
            opacity: 0.8; }
  .Messages input {
    height: 20px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px; }
  .Messages textarea {
    height: 260px;
    padding: 10px;
    border-radius: 10px;
    outline: none; }
  .Messages .sendButton {
    margin: 40px 0; }

.DirectionsTable2 {
  width: 100%; }
  .DirectionsTable2 table {
    width: 100%;
    margin-bottom: 30px; }
    .DirectionsTable2 table tbody tr td:nth-child(1) {
      width: 260px; }
    .DirectionsTable2 table tbody tr td:nth-child(2) {
      width: 150px; }
    .DirectionsTable2 table tbody tr td .Opened {
      width: 100%;
      height: 25px;
      background-color: green;
      color: white; }
    .DirectionsTable2 table tbody tr td .Closed {
      width: 100%;
      height: 25px;
      background-color: red;
      color: white; }
  .DirectionsTable2 button {
    margin: 0 auto; }

.Projects {
  max-width: 1200px;
  width: 100%; }
  .Projects .projects_list {
    display: flex; }
  .Projects .project_form {
    display: flex;
    flex-direction: column; }
    .Projects .project_form .title_input {
      width: 80%;
      height: 50px;
      padding: 0 10px;
      border-radius: 6px;
      margin-top: 20px;
      font-size: 30px; }
    .Projects .project_form .StageBlock {
      margin-top: 25px;
      width: 495px; }
      .Projects .project_form .StageBlock span {
        color: #003995;
        text-align: left; }
      .Projects .project_form .StageBlock .ProgressBar {
        display: flex;
        justify-content: space-between;
        margin: 15px 0; }
        .Projects .project_form .StageBlock .ProgressBar .Circle {
          width: 45px;
          height: 45px;
          border-radius: 100%;
          z-index: 10;
          cursor: pointer; }
        .Projects .project_form .StageBlock .ProgressBar .ProgressBlock {
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer; }
          .Projects .project_form .StageBlock .ProgressBar .ProgressBlock .Line {
            position: absolute;
            width: 120px;
            height: 8px;
            right: 15px; }
    .Projects .project_form .main_image_block {
      display: flex;
      align-items: center; }
      .Projects .project_form .main_image_block img {
        margin-left: 20px; }
    .Projects .project_form .file_input {
      position: relative;
      overflow: hidden;
      margin: 40px 0;
      border: 4px solid #005FF9;
      width: 200px;
      height: 40px;
      border-radius: 15px; }
      .Projects .project_form .file_input label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        .Projects .project_form .file_input label input {
          display: none; }
        .Projects .project_form .file_input label .paragraph6 {
          color: #005FF9;
          display: flex;
          flex-direction: column; }
    .Projects .project_form .paragraph_title_input {
      width: 300px;
      height: 30px;
      padding: 0 10px;
      margin: 10px 0;
      border-radius: 6px; }
    .Projects .project_form .paragraph_input {
      margin: 10px 0;
      width: 100%;
      height: 300px;
      border-radius: 6px;
      padding: 10px;
      outline: none; }
    .Projects .project_form .add_file {
      display: flex;
      align-items: center; }
      .Projects .project_form .add_file .test_image {
        margin-left: 20px; }
    .Projects .project_form .buttons_bar {
      margin-bottom: 30px; }
      .Projects .project_form .buttons_bar button {
        width: 150px;
        height: 30px;
        border-radius: 6px;
        color: white;
        background-color: #FF4D4D;
        margin-right: 30px; }
        .Projects .project_form .buttons_bar button:hover {
          opacity: 0.8; }
    .Projects .project_form .choose_bar {
      margin: 50px 0;
      width: 500px;
      display: flex;
      justify-content: space-between; }
      .Projects .project_form .choose_bar button {
        width: 150px;
        height: 30px;
        border-radius: 6px;
        color: white; }
        .Projects .project_form .choose_bar button:hover {
          opacity: 0.8; }
        .Projects .project_form .choose_bar button:nth-child(1) {
          background-color: blue; }
        .Projects .project_form .choose_bar button:nth-child(2) {
          background-color: green; }
        .Projects .project_form .choose_bar button:nth-child(3) {
          background-color: #CC2FB1; }

.Logs {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Logs button {
    width: 150px;
    height: 30px;
    background-color: green;
    color: white;
    margin-bottom: 30px; }
  .Logs .json td {
    max-width: 1200px;
    word-wrap: break-word; }
  .Logs table {
    margin-bottom: 30px; }
    .Logs table .timeS {
      width: 250px; }
    .Logs table .time {
      width: 200px; }

