.Commercial {
  position: relative;
  padding-top: 140px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .Commercial-Content {
    width: 100%;
    max-width: 1000px; }
    .Commercial-Content .Tabs {
      margin-bottom: 40px;
      display: flex;
      width: 100%;
      justify-content: flex-start; }
      .Commercial-Content .Tabs .Tab {
        cursor: pointer;
        margin: 63px 30px 0 0; }
        .Commercial-Content .Tabs .Tab.active {
          color: #005FF9;
          border-bottom: 3px solid #005FF9; }
    .Commercial-Content .Amenities {
      flex-direction: column; }
      .Commercial-Content .Amenities .paragraph1 {
        margin: 0 0 66px 0; }
      .Commercial-Content .Amenities .Service {
        max-height: 122px;
        overflow: hidden;
        margin-bottom: 15px;
        background: #F7F7F7;
        box-sizing: border-box;
        padding: 17px 77px 0 38px;
        cursor: pointer; }
        .Commercial-Content .Amenities .Service.ServiceActive {
          max-height: none; }
        .Commercial-Content .Amenities .Service-Content {
          opacity: 0; }
          .Commercial-Content .Amenities .Service-Content.active {
            transition: opacity 2s;
            opacity: 1; }
        .Commercial-Content .Amenities .Service .TopPargraph {
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .Commercial-Content .Amenities .Service .TopPargraph .MiniText {
            max-width: 90%; }
            .Commercial-Content .Amenities .Service .TopPargraph .MiniText h4 {
              margin: 0;
              color: #004CC7; }
            .Commercial-Content .Amenities .Service .TopPargraph .MiniText .paragraph4 {
              margin: 5px 0 29px 0; }

@keyframes rot {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(-180deg); } }

@keyframes rotR {
  from {
    transform: rotate(-180deg); }
  to {
    transform: rotate(0); } }
          .Commercial-Content .Amenities .Service .TopPargraph .SeeMore {
            height: 28px;
            width: 48px;
            display: flex;
            align-items: center;
            position: relative;
            transform: rotate(0); }
            .Commercial-Content .Amenities .Service .TopPargraph .SeeMore.active {
              transform: rotate(-180deg); }
              .Commercial-Content .Amenities .Service .TopPargraph .SeeMore.active .left {
                background-color: #337FFA; }
              .Commercial-Content .Amenities .Service .TopPargraph .SeeMore.active .right {
                background-color: #337FFA; }
            .Commercial-Content .Amenities .Service .TopPargraph .SeeMore .left {
              width: 32px;
              height: 10px;
              background-color: #484848;
              transform: rotate(40deg);
              position: absolute;
              left: 0;
              border-radius: 6px 0 5px 6px; }
            .Commercial-Content .Amenities .Service .TopPargraph .SeeMore .right {
              width: 32px;
              height: 10px;
              background-color: #484848;
              transform: rotate(-40deg);
              position: absolute;
              left: 18px;
              border-radius: 0 6px 6px 5px; }
        .Commercial-Content .Amenities .Service h5 {
          max-width: 90%;
          margin: 0 0 15px 0; }
        .Commercial-Content .Amenities .Service h5:first-letter {
          color: #004CC7; }
        .Commercial-Content .Amenities .Service .Item {
          width: 750px;
          display: flex;
          margin-bottom: 16px; }
          .Commercial-Content .Amenities .Service .Item .desc {
            margin-left: 10px;
            width: 728px; }
          .Commercial-Content .Amenities .Service .Item .Point {
            margin-top: 7px;
            height: 10px;
            width: 10px;
            border-radius: 100%;
            background: #005FF9; }
        .Commercial-Content .Amenities .Service:nth-child(4) {
          margin-bottom: 91px; }
    .Commercial-Content .ApplicationForm {
      flex-direction: column; }
      .Commercial-Content .ApplicationForm h4 {
        margin: 8px 0 8px 0; }
      .Commercial-Content .ApplicationForm h3 {
        margin: 56px 0 32px 0; }
      .Commercial-Content .ApplicationForm form {
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px; }
        .Commercial-Content .ApplicationForm form input {
          height: 32px;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid #767676; }
          .Commercial-Content .ApplicationForm form input.active {
            color: #1A1A1A;
            border-bottom: 2px solid #1A1A1A; }
          .Commercial-Content .ApplicationForm form input:focus {
            border-bottom: 2px solid #005FF9;
            color: #005FF9; }
      .Commercial-Content .ApplicationForm .CheckGroup {
        width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 26px; }
        .Commercial-Content .ApplicationForm .CheckGroup .CheckButton {
          display: flex;
          align-items: center; }
          .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint {
            cursor: pointer;
            box-sizing: border-box;
            margin-right: 27px;
            width: 30px;
            height: 27px;
            border: 4px solid #767676;
            border-radius: 5px; }
            .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint.activeCheck {
              display: flex;
              align-items: center;
              justify-content: center;
              border-color: #005FF9;
              background: #005FF9; }
              .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint.activeCheck .checkImg {
                background: url(./static/media/Vector.448244e0.png);
                height: 14px;
                width: 19px; }
      .Commercial-Content .ApplicationForm textarea {
        font-size: 15px;
        outline: none;
        min-width: 100%;
        max-width: 100%;
        min-height: 249px;
        max-height: 249px;
        box-sizing: border-box;
        padding: 18px 18px 18px 30px;
        border: 2px solid #AFAFAF;
        border-radius: 5px; }
        .Commercial-Content .ApplicationForm textarea.active {
          color: #1A1A1A;
          border: 2px solid #1A1A1A; }
        .Commercial-Content .ApplicationForm textarea:focus {
          border: 2px solid #005FF9;
          color: #005FF9; }
      .Commercial-Content .ApplicationForm .error_message {
        position: absolute;
        color: red;
        max-width: 300px;
        z-index: 20;
        line-height: normal; }
      .Commercial-Content .ApplicationForm .AddFile {
        position: relative;
        overflow: hidden;
        margin: 70px 0 12px 0;
        border: 4px solid #005FF9;
        width: 298px;
        height: 64px;
        border-radius: 15px; }
        .Commercial-Content .ApplicationForm .AddFile label {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          .Commercial-Content .ApplicationForm .AddFile label input {
            display: none; }
          .Commercial-Content .ApplicationForm .AddFile label .ImageAdd {
            background: url(./static/media/add.bb21931b.png);
            height: 28px;
            width: 28px;
            margin-right: 13px; }
          .Commercial-Content .ApplicationForm .AddFile label .paragraph4 {
            color: #005FF9;
            display: flex;
            flex-direction: column;
            line-height: 20px;
            margin-top: 8px; }
      .Commercial-Content .ApplicationForm .FilesList .Item {
        display: flex;
        align-items: center; }
        .Commercial-Content .ApplicationForm .FilesList .Item .paragraph5 {
          margin: 0; }
        .Commercial-Content .ApplicationForm .FilesList .Item .Delete {
          background: url(./static/media/delite.70073d3b.png);
          height: 14px;
          width: 14px;
          margin: 0 0 0 10px;
          cursor: pointer; }
          .Commercial-Content .ApplicationForm .FilesList .Item .Delete:hover {
            background: url(./static/media/delete2.6fee82aa.png); }
      .Commercial-Content .ApplicationForm .mediumButton {
        margin: 50px 0 85px 0; }

@keyframes tr12 {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(-50px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes tr22 {
  0% {
    transform: translate3d(0, 0, 0); }
  25% {
    transform: translate3d(30px, 0, 0); }
  50% {
    transform: translate3d(30px, -50px, 0); }
  75% {
    transform: translate3d(0, -50px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes tr32 {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(50px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
  .Commercial .LeftFiguresGroup {
    z-index: -10;
    position: absolute;
    height: 393px;
    width: 326px;
    left: 0; }
    .Commercial .LeftFiguresGroup .Circle {
      position: absolute;
      height: 219px;
      width: 219px;
      background: #005FF9;
      opacity: .8;
      border-radius: 50%;
      left: -41px;
      top: 90px;
      z-index: 100;
      animation: tr32 8s infinite linear; }
    .Commercial .LeftFiguresGroup .RectangleUp {
      position: absolute;
      height: 194px;
      width: 223px;
      background: #101010;
      opacity: .8;
      left: -79px;
      top: 0;
      animation: tr12 10s infinite linear; }
    .Commercial .LeftFiguresGroup .RectangleDown {
      position: absolute;
      height: 213px;
      width: 273px;
      background: #101010;
      opacity: .8;
      left: -220px;
      bottom: 0;
      animation: tr22 10s infinite linear; }
  .Commercial .RightFiguresGroup {
    z-index: -10;
    position: absolute;
    height: 300px;
    width: 327px;
    right: 0; }
    .Commercial .RightFiguresGroup .Circle {
      position: absolute;
      height: 236px;
      width: 236px;
      background: #101010;
      opacity: .8;
      border-radius: 50%;
      right: -90px;
      top: 0;
      animation: tr32 10s infinite linear; }
    .Commercial .RightFiguresGroup .Triangle {
      position: absolute;
      height: 0;
      width: 0;
      border-style: solid;
      border-top: transparent;
      border-left: 164px solid transparent;
      border-right: 164px solid transparent;
      border-bottom: 327px solid #005FF9;
      opacity: .8;
      right: -210px;
      bottom: 0;
      animation: tr12 10s infinite linear; }

@media screen and (max-width: 1000px) {
  .Commercial-Content .Tabs {
    margin-left: 20px; }
    .Commercial-Content .Tabs .Tab {
      cursor: pointer;
      margin: 63px 30px 0 0; }
  .Commercial-Content .Amenities {
    flex-direction: column; }
    .Commercial-Content .Amenities .paragraph1 {
      margin: 0 0 66px 20px; }
    .Commercial-Content .Amenities .Service {
      max-height: 150px;
      margin: 10px 20px; }
      .Commercial-Content .Amenities .Service.ServiceActive {
        max-height: none; }
      .Commercial-Content .Amenities .Service-Content {
        opacity: 0; }
        .Commercial-Content .Amenities .Service-Content.active {
          transition: opacity 2s;
          opacity: 1; }
      .Commercial-Content .Amenities .Service .TopPargraph .MiniText {
        max-width: 80%; }
        .Commercial-Content .Amenities .Service .TopPargraph .MiniText h4 {
          margin: 0;
          color: #004CC7; }
        .Commercial-Content .Amenities .Service .TopPargraph .MiniText .paragraph4 {
          margin: 5px 0 29px 0; }
      .Commercial-Content .Amenities .Service .TopPargraph .SeeMore {
        margin-left: auto; }
      .Commercial-Content .Amenities .Service .Item {
        max-width: 650px; }
        .Commercial-Content .Amenities .Service .Item .desc {
          width: 650px; }
  .Commercial-Content .ApplicationForm {
    margin-left: 20px; }
    .Commercial-Content .ApplicationForm form {
      width: 100%; }
    .Commercial-Content .ApplicationForm .CheckGroup {
      width: 100%;
      grid-gap: 15px; }
      .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint {
        margin-right: 10px; } }

@media screen and (max-width: 720px) {
  .Commercial {
    padding-top: 100px; }
    .Commercial-Content .Tabs {
      margin-left: 20px; }
      .Commercial-Content .Tabs .Tab {
        cursor: pointer;
        margin: 63px 30px 0 0;
        font-size: 22px; }
    .Commercial-Content .Amenities {
      flex-direction: column; }
      .Commercial-Content .Amenities .paragraph1 {
        margin: 0 0 40px 20px;
        line-height: 32px;
        font-size: 24px; }
      .Commercial-Content .Amenities .Service {
        max-height: 120px;
        margin: 10px 20px;
        padding: 30px; }
        .Commercial-Content .Amenities .Service.ServiceActive {
          max-height: none; }
        .Commercial-Content .Amenities .Service-Content {
          opacity: 0; }
          .Commercial-Content .Amenities .Service-Content.active {
            transition: opacity 2s;
            opacity: 1; }
        .Commercial-Content .Amenities .Service .TopPargraph {
          align-items: normal; }
          .Commercial-Content .Amenities .Service .TopPargraph .MiniText {
            max-width: 80%; }
            .Commercial-Content .Amenities .Service .TopPargraph .MiniText h4 {
              margin: 0;
              color: #004CC7;
              font-size: 22px;
              line-height: 22px; }
            .Commercial-Content .Amenities .Service .TopPargraph .MiniText .paragraph4 {
              margin: 5px 0 29px 0;
              font-size: 18px;
              line-height: 20px; }
          .Commercial-Content .Amenities .Service .TopPargraph .SeeMore {
            margin-left: auto;
            margin-top: 20px; }
        .Commercial-Content .Amenities .Service h5 {
          font-size: 22px;
          line-height: 26px; }
        .Commercial-Content .Amenities .Service .Item {
          max-width: 400px; }
          .Commercial-Content .Amenities .Service .Item .desc {
            width: 400px; }
    .Commercial-Content .ApplicationForm h4 {
      line-height: 24px;
      font-size: 20px; }
    .Commercial-Content .ApplicationForm h3 {
      margin: 30px 0 25px 0;
      line-height: 30px;
      font-size: 28px; }
    .Commercial-Content .ApplicationForm .CheckGroup .CheckButton div {
      line-height: 22px;
      font-size: 18px; }
    .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint {
      width: 23px;
      height: 23px; }
      .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint.activeCheck .checkImg {
        height: 10px;
        width: 15px;
        background-size: contain;
        background-repeat: no-repeat; }
    .Commercial .LeftFiguresGroup {
      display: none; }
    .Commercial .RightFiguresGroup {
      display: none; } }

@media screen and (max-width: 610px) {
  .Commercial-Content .Tabs {
    margin-left: 20px; }
    .Commercial-Content .Tabs .Tab {
      cursor: pointer;
      margin: 63px 30px 0 0;
      font-size: 22px; }
  .Commercial-Content .Amenities {
    flex-direction: column; }
    .Commercial-Content .Amenities .paragraph1 {
      margin: 0 0 40px 20px;
      line-height: 32px;
      font-size: 24px; }
    .Commercial-Content .Amenities .Service {
      max-height: 120px;
      margin: 10px 20px;
      padding: 30px; }
      .Commercial-Content .Amenities .Service.ServiceActive {
        max-height: none; }
      .Commercial-Content .Amenities .Service-Content {
        opacity: 0; }
        .Commercial-Content .Amenities .Service-Content.active {
          transition: opacity 2s;
          opacity: 1; }
      .Commercial-Content .Amenities .Service .TopPargraph {
        align-items: normal; }
        .Commercial-Content .Amenities .Service .TopPargraph .MiniText {
          max-width: 80%; }
          .Commercial-Content .Amenities .Service .TopPargraph .MiniText h4 {
            margin: 0;
            color: #004CC7;
            font-size: 22px;
            line-height: 22px; }
          .Commercial-Content .Amenities .Service .TopPargraph .MiniText .paragraph4 {
            margin: 5px 0 29px 0;
            font-size: 18px;
            line-height: 20px; }
        .Commercial-Content .Amenities .Service .TopPargraph .SeeMore {
          margin-left: auto;
          margin-top: 20px; }
      .Commercial-Content .Amenities .Service h5 {
        font-size: 22px;
        line-height: 26px; }
      .Commercial-Content .Amenities .Service .Item {
        max-width: 400px; }
        .Commercial-Content .Amenities .Service .Item .desc {
          width: 400px; }
  .Commercial-Content .ApplicationForm h4 {
    line-height: 24px;
    font-size: 20px; }
  .Commercial-Content .ApplicationForm h3 {
    margin: 30px 0 25px 0;
    line-height: 30px;
    font-size: 28px; }
  .Commercial-Content .ApplicationForm form {
    grid-gap: 15px; }
  .Commercial-Content .ApplicationForm .CheckGroup {
    grid-template-columns: 1fr; }
    .Commercial-Content .ApplicationForm .CheckGroup .CheckButton div {
      line-height: 22px;
      font-size: 18px; }
    .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint {
      width: 23px;
      height: 23px; }
      .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint.activeCheck .checkImg {
        height: 10px;
        width: 15px;
        background-size: contain;
        background-repeat: no-repeat; }
  .Commercial .LeftFiguresGroup {
    display: none; }
  .Commercial .RightFiguresGroup {
    display: none; } }

@media screen and (max-width: 500px) {
  .Commercial-Content .Tabs {
    margin-bottom: 25px;
    margin-left: 0; }
    .Commercial-Content .Tabs .Tab {
      cursor: pointer;
      margin: 0 20px 0 0;
      line-height: 18px;
      font-size: 14px; }
  .Commercial-Content .Amenities {
    flex-direction: column; }
    .Commercial-Content .Amenities .paragraph1 {
      margin: 0 0 20px 20px;
      line-height: 22px;
      font-size: 16px; }
    .Commercial-Content .Amenities .Service {
      max-height: 100px;
      margin: 10px 20px;
      padding: 15px; }
      .Commercial-Content .Amenities .Service.ServiceActive {
        max-height: none; }
      .Commercial-Content .Amenities .Service-Content {
        opacity: 0; }
        .Commercial-Content .Amenities .Service-Content.active {
          transition: opacity 2s;
          opacity: 1; }
      .Commercial-Content .Amenities .Service .TopPargraph {
        align-items: normal; }
        .Commercial-Content .Amenities .Service .TopPargraph .MiniText {
          max-width: 90%; }
          .Commercial-Content .Amenities .Service .TopPargraph .MiniText h4 {
            margin: 0;
            color: #004CC7;
            font-size: 16px;
            line-height: 22px; }
          .Commercial-Content .Amenities .Service .TopPargraph .MiniText .paragraph4 {
            margin: 0 0 29px 0;
            font-size: 12px;
            line-height: 20px;
            width: 100%; }
        .Commercial-Content .Amenities .Service .TopPargraph .SeeMore {
          height: 12px;
          width: 20px;
          margin-left: auto;
          margin-top: 30px; }
          .Commercial-Content .Amenities .Service .TopPargraph .SeeMore .left {
            width: 14px;
            height: 5px; }
          .Commercial-Content .Amenities .Service .TopPargraph .SeeMore .right {
            width: 14px;
            height: 5px;
            left: 8px; }
      .Commercial-Content .Amenities .Service h5 {
        line-height: 23px;
        font-size: 14px; }
      .Commercial-Content .Amenities .Service .Item {
        max-width: 230px; }
        .Commercial-Content .Amenities .Service .Item .desc {
          width: 210px;
          line-height: 18px;
          font-size: 12px;
          margin-left: 5px; }
        .Commercial-Content .Amenities .Service .Item .Point {
          height: 6px;
          width: 6px;
          margin-top: 5px; }
  .Commercial-Content .ApplicationForm {
    margin: 0; }
    .Commercial-Content .ApplicationForm h4 {
      line-height: 18px;
      font-size: 14px; }
    .Commercial-Content .ApplicationForm h3 {
      line-height: 26px;
      font-size: 24px; }
    .Commercial-Content .ApplicationForm form {
      grid-template-columns: 1fr; }
      .Commercial-Content .ApplicationForm form input {
        height: 25px; }
    .Commercial-Content .ApplicationForm .CheckGroup .CheckButton div {
      line-height: 27px;
      font-size: 14px; }
    .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint {
      width: 15px;
      height: 15px;
      border: 2px solid #767676; }
      .Commercial-Content .ApplicationForm .CheckGroup .CheckButton .CheckPoint.activeCheck .checkImg {
        height: 8px;
        width: 13px; }
    .Commercial-Content .ApplicationForm textarea {
      height: 130px;
      min-height: 130px; }
    .Commercial-Content .ApplicationForm .error_message {
      font-size: 13px; }
    .Commercial-Content .ApplicationForm .AddFile {
      margin: 50px 0 0 0;
      border: 2px solid #005FF9;
      width: 170px;
      height: 40px; }
      .Commercial-Content .ApplicationForm .AddFile label .ImageAdd {
        height: 13px;
        width: 13px;
        background-size: contain; }
      .Commercial-Content .ApplicationForm .AddFile label .paragraph4 {
        line-height: normal;
        font-size: 12px; }
    .Commercial-Content .ApplicationForm .FilesList .Item .paragraph5 {
      font-size: 12px; }
    .Commercial-Content .ApplicationForm .mediumButton {
      margin: 30px 0 85px 0;
      width: 100%;
      height: 40px;
      font-size: 14px; }
  .Commercial .LeftFiguresGroup {
    display: none; }
  .Commercial .RightFiguresGroup {
    display: none; } }

