body {
  overflow-x: hidden;
  margin: 0;
  font-style: normal;
  cursor: default; }

#app {
  overflow-x: hidden; }

.container {
  max-width: 1000px;
  margin: 0 30px; }

button {
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0;
  padding: 0; }
  button:hover {
    cursor: pointer; }

input {
  outline: none;
  font-size: 18px; }

.bigButton {
  width: 345px;
  height: 90px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005FF9;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 25px;
  text-align: center;
  transition: background-color 300ms; }
  .bigButton:hover {
    background-color: #004CC7;
    transition: background-color 300ms; }
  .bigButton.unActive {
    background-color: #F4F4F4;
    color: #767676;
    pointer-events: none; }

.mediumButton {
  width: 275px;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005FF9;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  transition: background-color 300ms; }
  .mediumButton:hover {
    background-color: #004CC7;
    transition: background-color 300ms; }
  .mediumButton.unActive {
    background-color: #F4F4F4;
    color: #767676;
    pointer-events: none; }

.smallButton {
  width: 215px;
  height: 55px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005FF9;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  transition: background-color 300ms; }
  .smallButton:hover {
    background-color: #004CC7;
    transition: background-color 300ms; }
  .smallButton.unActive {
    background-color: #F4F4F4;
    color: #767676;
    pointer-events: none; }

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/Open_Sans/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/Open_Sans/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/Open_Sans/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url("/Ubuntu/Ubuntu-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url("/Ubuntu/Ubuntu-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url("/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url("/Ubuntu/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Consolas', sans-serif;
  src: url("/consola.ttf");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Lato', sans-serif;
  src: url("/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 93px;
  letter-spacing: -0.02em;
  color: #1A1A1A;
  margin: 0; }

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 65px;
  color: #1A1A1A;
  margin: 0; }

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 69px;
  letter-spacing: -0.02em;
  color: #1A1A1A;
  margin: 0; }

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #1A1A1A;
  margin: 0; }

h5 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #1A1A1A;
  margin: 0; }

.paragraph1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 49px;
  color: #1A1A1A; }

.paragraph2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 44px;
  color: #1A1A1A; }

.paragraph3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 42px;
  color: #1A1A1A; }

.paragraph4 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: #1A1A1A; }

.paragraph5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #1A1A1A; }

.paragraph6 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  color: #1A1A1A; }

.paragraph7 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 23px;
  color: #1A1A1A; }

.consolas {
  font-family: 'Consolas', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 74px;
  color: #1A1A1A;
  margin: 0; }

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 100;
  background-color: white; }
  .header-content {
    width: 100%;
    max-width: 1200px;
    height: 69px;
    margin: 35px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-content a.active {
      color: #005FF9; }
    .header-content .paragraph6 {
      font-weight: bold;
      text-decoration: none;
      margin-left: 65px; }
      .header-content .paragraph6:hover {
        color: #005FF9; }
    .header-content .logo {
      width: 183px;
      height: 69px;
      background: url(./static/media/itsLogo.368ce396.png); }
      .header-content .logo.main {
        pointer-events: none; }

@media screen and (max-width: 840px) {
  .header-content .paragraph6 {
    margin-left: 50px; }
  .header-content .anchor {
    display: none; } }

@media screen and (max-width: 500px) {
  .header-content {
    height: 30px;
    margin: 20px; }
    .header-content .paragraph6 {
      margin-left: 30px;
      font-size: 14px; }
    .header-content .anchor {
      display: none; }
    .header-content .logo {
      width: 80px;
      height: 30px;
      background-size: contain; } }

.Footer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 339px;
  border-top: 1px solid #767676;
  overflow: hidden; }
  .Footer .ShadowFooter {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.56); }
  .Footer-Content {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-top: 51px; }
    .Footer-Content .FirstColumn {
      margin-right: 40px;
      display: flex;
      flex-direction: column; }
      .Footer-Content .FirstColumn .LogoTSU {
        margin-bottom: 33px; }
    .Footer-Content .SecondColumn nav {
      display: flex;
      flex-direction: column; }
      .Footer-Content .SecondColumn nav .paragraph3 {
        text-align: left;
        color: #005FF9;
        font-weight: bold;
        margin-bottom: 25px;
        line-height: 22px; }
    .Footer-Content .SecondColumn a {
      text-decoration: none; }
    .Footer-Content .SecondColumn h5 {
      color: #1A1A1A;
      cursor: pointer; }
    .Footer-Content .SecondColumn .FooterLink {
      text-decoration: none; }
      .Footer-Content .SecondColumn .FooterLink h5 {
        margin: 0 25px 25px 25px;
        color: #005FF9; }
    .Footer-Content .ThirdColumn {
      position: absolute;
      top: 0;
      right: 0;
      display: flex; }
      .Footer-Content .ThirdColumn div {
        margin: 0; }
      .Footer-Content .ThirdColumn .VK {
        background: url(./static/media/vkontakte.26be8905.png);
        height: 54px;
        width: 54px;
        margin-right: 10px; }
      .Footer-Content .ThirdColumn .Instagram {
        background: url(./static/media/instagram.51b094c7.png);
        height: 54px;
        width: 54px; }

@keyframes anim1 {
  from {
    transform: translate3d(0, 0, 0) rotate(33deg); }
  50% {
    transform: translate3d(50px, 10px, 0) rotate(-33deg); }
  to {
    transform: translate3d(0, 0, 0) rotate(33deg); } }

@keyframes anim2 {
  to {
    transform: rotate(360deg); } }
    .Footer-Content .GroupOfFigures {
      bottom: -24px;
      right: -110px;
      position: absolute;
      width: 288px;
      height: 183px; }
      .Footer-Content .GroupOfFigures .Circle {
        position: absolute;
        right: 0;
        bottom: -10px;
        height: 149px;
        width: 149px;
        border-radius: 50%;
        opacity: .7;
        transform-origin: 50% 45%;
        animation: anim2 10s infinite linear; }
      .Footer-Content .GroupOfFigures .Square {
        position: absolute;
        left: 0;
        bottom: -10px;
        height: 93px;
        width: 93px;
        opacity: .7;
        transform: rotate(33deg);
        animation: anim1 10s infinite linear; }
      .Footer-Content .GroupOfFigures .Triangle {
        position: absolute;
        bottom: -10px;
        left: 50px;
        opacity: .7;
        width: 0;
        height: 0;
        border-style: solid;
        border-top: transparent;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        animation: anim2 30s infinite linear; }

@media screen and (max-width: 1100px) {
  .Footer-Content {
    margin: 50px 20px 0 20px; } }

@media screen and (max-width: 750px) {
  .Footer {
    height: 239px; }
    .Footer-Content {
      margin: 50px 20px 0 20px; }
      .Footer-Content .FirstColumn .LogoTSU {
        width: 150px;
        height: 30px; }
      .Footer-Content .FirstColumn .LogoITS {
        width: 80px;
        height: 30px; }
      .Footer-Content .SecondColumn .FooterLink h5 {
        line-height: 22px;
        font-size: 16px;
        margin: 0 15px 15px 15px; } }

@media screen and (max-width: 550px) {
  .Footer {
    height: 240px; }
    .Footer-Content {
      margin: 50px 20px 0 20px;
      justify-content: space-between; }
      .Footer-Content .FirstColumn {
        margin-right: 0; }
      .Footer-Content .SecondColumn {
        width: 110px; }
        .Footer-Content .SecondColumn nav {
          width: 110px; }
          .Footer-Content .SecondColumn nav .paragraph3 {
            line-height: 18px; }
        .Footer-Content .SecondColumn a {
          font-size: 16px; }
        .Footer-Content .SecondColumn h5 {
          font-size: 16px;
          line-height: 18px; }
        .Footer-Content .SecondColumn .FooterLink h5 {
          line-height: 22px;
          font-size: 16px;
          margin: 0 15px 15px 15px; }
      .Footer-Content .ThirdColumn {
        display: none; }
      .Footer-Content .GroupOfFigures {
        display: none; } }

@keyframes loadingF {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.load-6 {
  position: fixed;
  left: calc(50% - 49px);
  top: calc(50% - 13px);
  display: none;
  z-index: 200; }
  .load-6 .letter-holder {
    display: flex; }
  .load-6 .letter {
    animation: loadingF infinite linear;
    animation-duration: 1.6s;
    font-size: 24px; }
  .load-6 .l-1 {
    animation-delay: .48s; }
  .load-6 .l-2 {
    animation-delay: .6s; }
  .load-6 .l-3 {
    animation-delay: .72s; }
  .load-6 .l-4 {
    animation-delay: .84s; }
  .load-6 .l-5 {
    animation-delay: .96s; }
  .load-6 .l-6 {
    animation-delay: 1.08s; }
  .load-6 .l-7 {
    animation-delay: 1.2s; }
  .load-6 .l-8 {
    animation-delay: 1.32s; }
  .load-6 .l-9 {
    animation-delay: 1.44s; }
  .load-6 .l-10 {
    animation-delay: 1.56s; }

@keyframes loadingF {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.DynamicPreloader {
  height: 80vh; }
  .DynamicPreloader .DynamicPreloader-Word {
    position: fixed;
    left: calc(50% - 49px);
    top: calc(50% - 13px);
    z-index: 200; }
    .DynamicPreloader .DynamicPreloader-Word .letter-holder {
      display: flex; }
    .DynamicPreloader .DynamicPreloader-Word .letter {
      animation: loadingF infinite linear;
      animation-duration: 1.6s;
      font-size: 24px; }
    .DynamicPreloader .DynamicPreloader-Word .l-1 {
      animation-delay: .48s; }
    .DynamicPreloader .DynamicPreloader-Word .l-2 {
      animation-delay: .6s; }
    .DynamicPreloader .DynamicPreloader-Word .l-3 {
      animation-delay: .72s; }
    .DynamicPreloader .DynamicPreloader-Word .l-4 {
      animation-delay: .84s; }
    .DynamicPreloader .DynamicPreloader-Word .l-5 {
      animation-delay: .96s; }
    .DynamicPreloader .DynamicPreloader-Word .l-6 {
      animation-delay: 1.08s; }
    .DynamicPreloader .DynamicPreloader-Word .l-7 {
      animation-delay: 1.2s; }
    .DynamicPreloader .DynamicPreloader-Word .l-8 {
      animation-delay: 1.32s; }
    .DynamicPreloader .DynamicPreloader-Word .l-9 {
      animation-delay: 1.44s; }
    .DynamicPreloader .DynamicPreloader-Word .l-10 {
      animation-delay: 1.56s; }

@keyframes pulseIn {
  0% {
    box-shadow: 0 0 15px rgba(0, 114, 254, 0.2); }
  50% {
    box-shadow: 0 0 15px rgba(0, 114, 254, 0.8); }
  100% {
    box-shadow: 0 0 15px rgba(0, 114, 254, 0.2); } }

@keyframes pulseOut {
  0% {
    box-shadow: 0 0 15px rgba(0, 114, 254, 0.2); }
  50% {
    box-shadow: 0 0 15px rgba(0, 114, 254, 0.8); }
  100% {
    box-shadow: 0 0 15px rgba(0, 114, 254, 0.2); } }

.Description {
  display: flex;
  padding-top: 220px;
  align-items: center; }
  .Description .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    z-index: 50; }
    .Description .Content .Title {
      margin-top: 30px;
      width: 730px;
      display: flex;
      align-items: center;
      text-align: center; }
      .Description .Content .Title .ArrowIcon {
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 90px;
        line-height: 93px; }
    .Description .Content p {
      width: 680px;
      text-align: center; }

@keyframes transformations1 {
  to {
    transform: rotate(360deg); } }

@keyframes transformations2 {
  0% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(5deg); } }

@keyframes transformations4 {
  0% {
    transform: rotate(170deg); }
  50% {
    transform: rotate(185deg); }
  100% {
    transform: rotate(170deg); } }

@keyframes transformations3 {
  from {
    transform: rotate(45deg); }
  to {
    transform: rotate(405deg); } }
  .Description .BgElementsLeft {
    z-index: -10;
    position: absolute;
    margin-top: 250px;
    height: 100%; }
    .Description .BgElementsLeft .Circle {
      position: absolute;
      width: 235px;
      height: 235px;
      border-radius: 100%;
      background-color: #005FF9;
      opacity: 0.7;
      left: -85px;
      top: 60px;
      transform-origin: 50% 45%;
      animation: transformations1 10s infinite linear; }
    .Description .BgElementsLeft .Triangle {
      position: absolute;
      top: 130px;
      left: 30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 145px 240px 145px 0;
      border-color: transparent #B364E4 transparent transparent;
      opacity: 0.8;
      transform: rotate(-5deg);
      transform-origin: 50% 65%;
      animation: transformations2 8s infinite linear; }
    .Description .BgElementsLeft .Square {
      position: absolute;
      width: 215px;
      height: 215px;
      top: 250px;
      left: -100px;
      background-color: #FF3BDD;
      opacity: 0.7;
      transform: rotate(45deg);
      animation: transformations3 23s infinite linear; }
  .Description .BgElementsRight {
    z-index: -10;
    position: absolute;
    margin-top: 330px;
    right: 0;
    height: 100%; }
    .Description .BgElementsRight .Circle {
      position: absolute;
      width: 300px;
      height: 300px;
      left: -240px;
      top: -80px;
      border-radius: 100%;
      background-color: #005FF9;
      opacity: 0.7;
      transform-origin: 50% 55%;
      animation: transformations1 9s infinite linear reverse; }
    .Description .BgElementsRight .Triangle {
      position: absolute;
      width: 0;
      height: 0;
      left: -300px;
      top: 80px;
      border-style: solid;
      border-width: 135px 260px 135px 0;
      border-color: transparent rgba(146, 34, 216, 0.7) transparent transparent;
      transform: rotate(-170deg);
      z-index: 10;
      animation: transformations4 8s infinite linear; }
    .Description .BgElementsRight .Square {
      position: absolute;
      width: 200px;
      height: 200px;
      left: -150px;
      top: 150px;
      background-color: #FF3BDD;
      opacity: 0.7;
      transform: rotate(45deg);
      animation: transformations3 20s infinite linear reverse; }

@media screen and (max-width: 1200px) {
  .Description .Content {
    margin: 0 auto 0 auto; } }

@media screen and (max-width: 900px) {
  .Description .BgElementsLeft {
    display: none; }
  .Description .BgElementsRight {
    display: none; } }

@media screen and (max-width: 835px) {
  .Description {
    padding-top: 200px; }
    .Description .Content .Title {
      width: 700px; }
      .Description .Content .Title .ArrowIcon {
        font-size: 72px; }
      .Description .Content .Title .consolas {
        font-size: 72px; }
    .Description .Content .paragraph2 {
      font-size: 28px;
      width: 600px; }
    .Description .Content .DownButton {
      margin: 30px auto 40px auto; }
    .Description .BgElementsLeft {
      display: none; }
    .Description .BgElementsRight {
      display: none; } }

@media screen and (max-width: 720px) {
  .Description {
    padding-top: 200px; }
    .Description .Content .Title {
      width: 550px; }
      .Description .Content .Title .ArrowIcon {
        font-size: 57px; }
      .Description .Content .Title .consolas {
        font-size: 57px; }
    .Description .Content .paragraph2 {
      font-size: 20px;
      width: 600px;
      line-height: 36px; }
    .Description .BgElementsLeft {
      display: none; }
    .Description .BgElementsRight {
      display: none; } }

@media screen and (max-width: 624px) {
  .Description {
    height: 400px;
    padding-top: 60px; }
    .Description .Content .Title {
      width: 320px; }
      .Description .Content .Title .ArrowIcon {
        font-size: 32px;
        line-height: 24px; }
      .Description .Content .Title .consolas {
        font-size: 32px;
        line-height: 24px; }
    .Description .Content .paragraph2 {
      font-size: 20px;
      width: 340px;
      line-height: 32px; }
    .Description .Content .DownButton {
      width: 50px;
      height: 50px;
      margin-top: 10px;
      margin-bottom: 60px; }
      .Description .Content .DownButton-Inside {
        height: 36px;
        width: 36px; }
        .Description .Content .DownButton-Inside .Arrow {
          height: 10px;
          width: 10px;
          margin-top: 9px;
          margin-left: 0; }
    .Description .BgElementsLeft {
      display: none; }
    .Description .BgElementsRight {
      display: none; } }

@media screen and (max-width: 500px) {
  .Description {
    height: 330px;
    padding-top: 60px; }
    .Description .Content .Title {
      width: 320px; }
      .Description .Content .Title .ArrowIcon {
        font-size: 32px;
        line-height: 24px; }
      .Description .Content .Title .consolas {
        font-size: 32px;
        line-height: 24px; }
    .Description .Content .paragraph2 {
      font-size: 20px;
      width: 340px;
      line-height: 32px; }
    .Description .Content .DownButton {
      width: 50px;
      height: 50px;
      margin-top: 10px;
      margin-bottom: 60px; }
      .Description .Content .DownButton-Inside {
        height: 36px;
        width: 36px; }
        .Description .Content .DownButton-Inside .Arrow {
          height: 10px;
          width: 10px;
          margin-top: 9px;
          margin-left: 0; }
    .Description .BgElementsLeft {
      display: none; }
    .Description .BgElementsRight {
      display: none; } }

@media screen and (max-width: 370px) {
  .Description {
    height: 270px;
    padding-top: 0; }
    .Description .Content .Title {
      width: 212px;
      line-height: 0;
      margin-top: 100px;
      margin-bottom: 0; }
      .Description .Content .Title .ArrowIcon {
        font-size: 22px;
        line-height: 23px; }
      .Description .Content .Title .consolas {
        font-size: 22px;
        line-height: 23px; }
    .Description .Content .paragraph2 {
      font-size: 14px;
      width: 280px;
      line-height: 28px; }
    .Description .Content .DownButton {
      width: 40px;
      height: 40px;
      margin: 10px auto 0 auto; }
      .Description .Content .DownButton-Inside {
        height: 26px;
        width: 26px; }
        .Description .Content .DownButton-Inside .Arrow {
          height: 6px;
          width: 6px;
          margin-top: 7px;
          margin-left: 0; }
    .Description .BgElementsLeft {
      display: none; }
    .Description .BgElementsRight {
      display: none; } }

.Directions {
  display: flex;
  justify-content: center;
  height: max-content;
  padding-bottom: 130px; }
  .Directions-Content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px; }
    .Directions-Content h2 {
      margin-bottom: 10px; }
    .Directions-Content p {
      width: 800px;
      margin: 0; }
    .Directions-Content .Cards {
      display: grid;
      grid-template-columns: repeat(3, 390px);
      justify-content: space-between;
      grid-gap: 15px;
      margin-top: 50px; }

@media screen and (max-width: 1200px) {
  .Directions-Content .Cards {
    grid-template-columns: repeat(2, 390px); } }

@media screen and (max-width: 900px) {
  .Directions-Content {
    padding-top: 80px; }
    .Directions-Content h2 {
      font-size: 42px;
      margin: 0; }
    .Directions-Content p {
      font-size: 24px;
      width: 520px;
      line-height: 30px; }
    .Directions-Content .Cards {
      grid-template-columns: repeat(1, 390px); }
      .Directions-Content .Cards-Shadow:nth-child(7) {
        height: 280px; }
      .Directions-Content .Cards-Shadow:nth-child(8) {
        height: 280px; } }

@media screen and (max-width: 600px) {
  .Directions {
    padding-bottom: 60px; }
    .Directions-Content {
      padding-top: 0; }
      .Directions-Content h2 {
        font-size: 42px; }
      .Directions-Content p {
        font-size: 18px;
        width: 370px;
        line-height: 30px; }
      .Directions-Content .Cards {
        width: 100%;
        grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 470px) {
  .Directions {
    padding-bottom: 60px; }
    .Directions-Content h2 {
      font-size: 42px; }
    .Directions-Content p {
      font-size: 18px;
      width: 370px;
      line-height: 30px; }
    .Directions-Content .Cards {
      width: 100%;
      grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 410px) {
  .Directions {
    padding-bottom: 30px; }
    .Directions-Content {
      margin: 0 20px;
      width: 100%; }
      .Directions-Content h2 {
        font-size: 24px;
        line-height: 24px;
        margin-top: 30px; }
      .Directions-Content p {
        font-size: 14px;
        width: 310px;
        line-height: 24px; }
      .Directions-Content .Cards {
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px; } }

@media screen and (max-width: 355px) {
  .Directions {
    padding-bottom: 30px; }
    .Directions-Content h2 {
      font-size: 24px;
      line-height: 24px; }
    .Directions-Content p {
      font-size: 14px;
      width: 310px;
      line-height: 24px; } }

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  top: 0;
  transition: top 200ms; }
  .Card:nth-child(7) {
    height: 260px; }
  .Card:nth-child(8) {
    height: 260px; }
  .Card:hover {
    cursor: pointer;
    top: -3px;
    transition: top 200ms; }
    .Card:hover .Card-Shadow {
      box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
  .Card-Shadow {
    position: absolute;
    height: 160px;
    width: 350px;
    margin-top: 20px;
    box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: -10; }
  .Card #ChildShadow {
    height: 220px; }
  .Card .Img {
    height: 70px;
    width: 80px;
    margin-top: 20px;
    background: center no-repeat;
    background-size: contain; }
  .Card h4 {
    margin: 10px 0 0 0;
    max-width: 290px; }
  .Card .Open {
    border: 2px solid #3AE374;
    border-radius: 10px;
    width: 160px;
    height: 30px;
    margin-top: 8px;
    color: #3AE374;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: 16px;
    text-align: center; }

@media screen and (max-width: 470px) {
  .Card-Shadow {
    height: 150px; } }

@media screen and (max-width: 410px) {
  .Card {
    height: 160px; }
    .Card:nth-child(7) {
      height: 160px; }
    .Card:nth-child(8) {
      height: 160px; }
    .Card-Shadow {
      height: 130px;
      width: 90%; }
    .Card #ChildShadow {
      height: 130px;
      width: 90%; }
    .Card .Img {
      margin-top: 10px; }
    .Card h4 {
      line-height: 22px;
      font-size: 16px;
      margin-top: 8px; } }

@media screen and (max-width: 355px) {
  .Card h4 {
    font-size: 16px; } }

.Partners {
  display: flex;
  justify-content: center;
  padding-bottom: 100px; }
  .Partners-Content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Partners-Content .Logotypes {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 50px;
      margin-left: 0; }
      .Partners-Content .Logotypes .Haulmont {
        width: 250px;
        height: 135px;
        background: url(./static/media/haulmont.4b6778bd.png) center no-repeat;
        background-size: contain;
        margin-right: 30px;
        margin-top: -10px; }
      .Partners-Content .Logotypes .Epam {
        width: 185px;
        height: 65px;
        background: url(./static/media/epam.0f4558bf.png) center no-repeat;
        background-size: contain;
        margin-right: 45px; }
      .Partners-Content .Logotypes .Netcracker {
        width: 300px;
        height: 68px;
        background: url(./static/media/net.16440b32.png) center no-repeat;
        background-size: contain;
        margin-right: 18px;
        margin-top: -20px; }
      .Partners-Content .Logotypes .Hospital {
        width: 130px;
        height: 150px;
        background: url(./static/media/hospital.d6221552.png) center no-repeat;
        background-size: contain;
        margin-right: 50px; }
      .Partners-Content .Logotypes .Komsoft {
        width: 189px;
        height: 128px;
        background: url(./static/media/com.22470225.png) center no-repeat;
        background-size: contain;
        margin-top: -20px; }

@media screen and (max-width: 1200px) {
  .Partners-Content .Logotypes {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 68%);
    margin-top: 50px;
    margin-left: 0; }
    .Partners-Content .Logotypes .Komsoft {
      top: 65px;
      left: 180px;
      position: relative; } }

@media screen and (max-width: 600px) {
  .Partners {
    padding-bottom: 0; }
    .Partners-Content h2 {
      font-size: 28px; }
    .Partners-Content .Logotypes {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: -80px;
      margin-left: 25px;
      flex-direction: column; }
      .Partners-Content .Logotypes .Haulmont {
        margin-left: -15px; }
      .Partners-Content .Logotypes .Epam {
        margin-bottom: 30px; }
      .Partners-Content .Logotypes .Netcracker {
        margin-bottom: 30px; }
      .Partners-Content .Logotypes .Hospital {
        margin-bottom: 30px; }
      .Partners-Content .Logotypes .Komsoft {
        top: 0;
        left: -25px;
        margin-bottom: 30px; } }

.OurProjects {
  display: flex;
  justify-content: center;
  padding-bottom: 140px; }
  .OurProjects-Content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .OurProjects-Content .Cards {
      display: flex;
      justify-content: space-between;
      margin-top: 70px; }
      .OurProjects-Content .Cards .ProjectCard {
        position: relative;
        width: 390px;
        max-width: 390px;
        height: 420px;
        background-color: white;
        border-radius: 10px;
        margin: 0;
        top: 0;
        transition: top 300ms; }
        .OurProjects-Content .Cards .ProjectCard:nth-child(2) {
          margin: 0 17px; }
        .OurProjects-Content .Cards .ProjectCard:hover {
          top: -3px;
          cursor: pointer;
          transition: top 300ms; }
          .OurProjects-Content .Cards .ProjectCard:hover .ShadowBlock {
            box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
        .OurProjects-Content .Cards .ProjectCard .ShadowBlock {
          position: absolute;
          height: 370px;
          width: 360px;
          margin-top: 30px;
          margin-left: 15px;
          box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          z-index: -10; }
        .OurProjects-Content .Cards .ProjectCard .Img {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px; }
        .OurProjects-Content .Cards .ProjectCard h4 {
          margin: 10px 8px;
          min-height: 76px; }
        .OurProjects-Content .Cards .ProjectCard .StageBlock {
          margin: 25px 8px 0 8px; }
          .OurProjects-Content .Cards .ProjectCard .StageBlock span {
            color: #003995;
            text-align: left; }
    .OurProjects-Content a {
      width: 260px;
      height: 55px;
      text-decoration: none;
      margin-top: 70px; }

@media screen and (max-width: 1200px) {
  .OurProjects {
    display: flex;
    justify-content: center;
    padding-bottom: 100px; }
    .OurProjects-Content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .OurProjects-Content .Cards {
        display: flex;
        justify-content: space-between;
        margin-top: 70px; }
        .OurProjects-Content .Cards .ProjectCard {
          position: relative;
          width: 290px;
          height: 320px;
          background-color: white;
          border-radius: 10px;
          margin: 0;
          top: 0;
          transition: top 300ms; }
          .OurProjects-Content .Cards .ProjectCard:nth-child(2) {
            margin: 0 17px; }
          .OurProjects-Content .Cards .ProjectCard:hover {
            top: -3px;
            cursor: pointer;
            transition: top 300ms; }
            .OurProjects-Content .Cards .ProjectCard:hover .ShadowBlock {
              box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
          .OurProjects-Content .Cards .ProjectCard .ShadowBlock {
            position: absolute;
            height: 270px;
            width: 260px;
            margin-top: 30px;
            margin-left: 15px;
            box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            z-index: -10; }
          .OurProjects-Content .Cards .ProjectCard .Img {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px; }
          .OurProjects-Content .Cards .ProjectCard h4 {
            margin: 0px 8px;
            font-size: 16px;
            min-height: 76px; }
          .OurProjects-Content .Cards .ProjectCard .StageBlock {
            margin: -35px 8px 0 8px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock span {
              color: #003995;
              text-align: left;
              font-size: 14px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar {
              display: flex;
              justify-content: space-between;
              margin: 0; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .Circle {
                width: 22px;
                height: 22px;
                border-radius: 100%;
                z-index: 10; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock {
                position: relative;
                display: flex;
                align-items: center; }
                .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock .Line {
                  position: absolute;
                  width: 50px;
                  height: 5px;
                  right: 15px; }
      .OurProjects-Content a {
        width: 260px;
        height: 55px;
        text-decoration: none;
        margin-top: 70px; } }

@media screen and (max-width: 940px) {
  .OurProjects {
    display: flex;
    justify-content: center;
    padding-bottom: 100px; }
    .OurProjects-Content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .OurProjects-Content .Cards {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        flex-direction: column; }
        .OurProjects-Content .Cards .ProjectCard {
          position: relative;
          width: 390px;
          height: 420px;
          background-color: white;
          border-radius: 10px;
          margin: 0;
          top: 0;
          transition: top 300ms; }
          .OurProjects-Content .Cards .ProjectCard:nth-child(2) {
            margin: 25px 0 25px 0; }
          .OurProjects-Content .Cards .ProjectCard:hover {
            top: -3px;
            cursor: pointer;
            transition: top 300ms; }
            .OurProjects-Content .Cards .ProjectCard:hover .ShadowBlock {
              box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
          .OurProjects-Content .Cards .ProjectCard .ShadowBlock {
            position: absolute;
            height: 370px;
            width: 360px;
            margin-top: 30px;
            margin-left: 15px;
            box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            z-index: -10; }
          .OurProjects-Content .Cards .ProjectCard .Img {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px; }
          .OurProjects-Content .Cards .ProjectCard h4 {
            margin: 10px 8px;
            min-height: 76px;
            font-size: 40px; }
          .OurProjects-Content .Cards .ProjectCard .StageBlock {
            margin: 25px 8px 0 8px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock span {
              color: #003995;
              text-align: left;
              font-size: 18px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar {
              display: flex;
              justify-content: space-between;
              margin: 20px 0; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .Circle {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                z-index: 10; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock {
                position: relative;
                display: flex;
                align-items: center; }
                .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock .Line {
                  position: absolute;
                  width: 80px;
                  height: 5px;
                  right: 15px; }
      .OurProjects-Content a {
        width: 260px;
        height: 55px;
        text-decoration: none;
        margin-top: 70px; } }

@media screen and (max-width: 600px) {
  .OurProjects h2 {
    font-size: 40px; } }

@media screen and (max-width: 450px) {
  .OurProjects {
    display: flex;
    justify-content: center;
    padding-bottom: 40px; }
    .OurProjects h2 {
      font-size: 30px; }
    .OurProjects-Content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .OurProjects-Content .Cards {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-direction: column; }
        .OurProjects-Content .Cards .ProjectCard {
          position: relative;
          width: 380px;
          height: 320px;
          background-color: white;
          border-radius: 10px;
          margin: 0;
          top: 0;
          transition: top 300ms; }
          .OurProjects-Content .Cards .ProjectCard:nth-child(2) {
            margin: 25px 0 25px 0; }
          .OurProjects-Content .Cards .ProjectCard:hover {
            top: -3px;
            cursor: pointer;
            transition: top 300ms; }
            .OurProjects-Content .Cards .ProjectCard:hover .ShadowBlock {
              box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
          .OurProjects-Content .Cards .ProjectCard .ShadowBlock {
            position: absolute;
            height: 290px;
            width: 1fr;
            margin-top: 30px;
            margin-left: 15px;
            box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            z-index: -10; }
          .OurProjects-Content .Cards .ProjectCard .Img {
            height: 190px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px; }
          .OurProjects-Content .Cards .ProjectCard h4 {
            margin: 0px 15px;
            min-height: 76px;
            font-size: 18px; }
          .OurProjects-Content .Cards .ProjectCard .StageBlock {
            margin: -20px 15px 0 15px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock span {
              color: #003995;
              text-align: left;
              font-size: 12px;
              position: relative;
              left: 2px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar {
              display: flex;
              justify-content: space-between;
              margin: 2px 0; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .Circle {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                z-index: 10; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock {
                position: relative;
                display: flex;
                align-items: center; }
                .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock .Line {
                  position: absolute;
                  width: 70px;
                  height: 5px;
                  right: 15px; }
      .OurProjects-Content a {
        width: 220px;
        height: 55px;
        text-decoration: none;
        margin-top: 70px; } }

@media screen and (max-width: 410px) {
  .OurProjects {
    display: flex;
    justify-content: center;
    padding-bottom: 40px; }
    .OurProjects h2 {
      font-size: 24px; }
    .OurProjects-Content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .OurProjects-Content .Cards {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-direction: column; }
        .OurProjects-Content .Cards .ProjectCard {
          position: relative;
          width: 320px;
          height: 300px;
          background-color: white;
          border-radius: 10px;
          margin: 0;
          top: 0;
          transition: top 300ms; }
          .OurProjects-Content .Cards .ProjectCard:nth-child(2) {
            margin: 25px 0 25px 0; }
          .OurProjects-Content .Cards .ProjectCard:hover {
            top: -3px;
            cursor: pointer;
            transition: top 300ms; }
            .OurProjects-Content .Cards .ProjectCard:hover .ShadowBlock {
              box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
          .OurProjects-Content .Cards .ProjectCard .ShadowBlock {
            position: absolute;
            height: 270px;
            width: 290px;
            margin-top: 30px;
            margin-left: 15px;
            box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            z-index: -10; }
          .OurProjects-Content .Cards .ProjectCard .Img {
            height: 170px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px; }
          .OurProjects-Content .Cards .ProjectCard h4 {
            margin: 0px 15px;
            min-height: 76px;
            font-size: 18px; }
          .OurProjects-Content .Cards .ProjectCard .StageBlock {
            margin: -20px 15px 0 15px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock span {
              color: #003995;
              text-align: left;
              font-size: 12px;
              position: relative;
              left: 2px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar {
              display: flex;
              justify-content: space-between;
              margin: 2px 0; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .Circle {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                z-index: 10; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock {
                position: relative;
                display: flex;
                align-items: center; }
                .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock .Line {
                  position: absolute;
                  width: 70px;
                  height: 5px;
                  right: 15px; }
      .OurProjects-Content a {
        width: 100%;
        height: 35px;
        text-decoration: none;
        margin-top: 25px;
        font-size: 12px; } }

@media screen and (max-width: 355px) {
  .OurProjects {
    display: flex;
    justify-content: center;
    padding-bottom: 40px; }
    .OurProjects h2 {
      font-size: 24px; }
    .OurProjects-Content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .OurProjects-Content .Cards {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-direction: column; }
        .OurProjects-Content .Cards .ProjectCard {
          position: relative;
          width: 290px;
          height: 300px;
          background-color: white;
          border-radius: 10px;
          margin: 0;
          top: 0;
          transition: top 300ms; }
          .OurProjects-Content .Cards .ProjectCard:nth-child(2) {
            margin: 25px 0 25px 0; }
          .OurProjects-Content .Cards .ProjectCard:hover {
            top: -3px;
            cursor: pointer;
            transition: top 300ms; }
            .OurProjects-Content .Cards .ProjectCard:hover .ShadowBlock {
              box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
          .OurProjects-Content .Cards .ProjectCard .ShadowBlock {
            position: absolute;
            height: 270px;
            width: 260px;
            margin-top: 30px;
            margin-left: 15px;
            box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            z-index: -10; }
          .OurProjects-Content .Cards .ProjectCard .Img {
            height: 170px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px; }
          .OurProjects-Content .Cards .ProjectCard h4 {
            margin: 0px 15px;
            min-height: 76px;
            font-size: 18px; }
          .OurProjects-Content .Cards .ProjectCard .StageBlock {
            margin: -20px 15px 0 15px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock span {
              color: #003995;
              text-align: left;
              font-size: 12px;
              position: relative;
              left: 2px; }
            .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar {
              display: flex;
              justify-content: space-between;
              margin: 2px 0; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .Circle {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                z-index: 10; }
              .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock {
                position: relative;
                display: flex;
                align-items: center; }
                .OurProjects-Content .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock .Line {
                  position: absolute;
                  width: 60px;
                  height: 5px;
                  right: 15px; }
      .OurProjects-Content a {
        width: 220px;
        height: 55px;
        text-decoration: none;
        margin-top: 70px; } }

.ProgressBar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0; }
  .ProgressBar .Circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 10; }
  .ProgressBar .ProgressBlock {
    position: relative;
    display: flex;
    align-items: center; }
    .ProgressBar .ProgressBlock .Line {
      position: absolute;
      width: 80px;
      height: 5px;
      right: 15px; }

.ProjectCard {
  position: relative;
  width: 390px;
  height: 420px;
  background-color: white;
  border-radius: 10px;
  margin: 0;
  top: 0;
  text-decoration: none;
  transition: top 300ms; }
  .ProjectCard:nth-child(2) {
    margin: 0 17px; }
  .ProjectCard:hover {
    top: -3px;
    cursor: pointer;
    transition: top 300ms; }
    .ProjectCard:hover .ShadowBlock {
      box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
  .ProjectCard .ShadowBlock {
    position: absolute;
    height: 370px;
    width: 360px;
    margin-top: 30px;
    margin-left: 15px;
    box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: -10; }
  .ProjectCard .Img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; }
  .ProjectCard h4 {
    margin: 10px 8px;
    min-height: 76px; }
  .ProjectCard .StageBlock {
    margin: 25px 8px 0 8px; }
    .ProjectCard .StageBlock span {
      color: #003995;
      text-align: left; }

.OneProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px; }
  .OneProject-Head {
    margin-top: 200px;
    width: 100%; }
    .OneProject-Head .StageBlock {
      margin-top: 25px;
      width: 495px; }
      .OneProject-Head .StageBlock span {
        color: #003995;
        text-align: left; }
      .OneProject-Head .StageBlock .ProgressBar {
        display: flex;
        justify-content: space-between;
        margin: 15px 0; }
        .OneProject-Head .StageBlock .ProgressBar .Circle {
          width: 45px;
          height: 45px;
          border-radius: 100%;
          z-index: 10; }
        .OneProject-Head .StageBlock .ProgressBar .ProgressBlock {
          position: relative;
          display: flex;
          align-items: center; }
          .OneProject-Head .StageBlock .ProgressBar .ProgressBlock .Line {
            position: absolute;
            width: 120px;
            height: 8px;
            right: 15px; }
  .OneProject .mainImage {
    margin-top: 25px;
    width: 100%;
    height: 580px;
    background: center no-repeat;
    background-size: cover; }
  .OneProject-Content {
    margin-top: 45px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .OneProject-Content .backButton {
      position: absolute;
      width: 43px;
      height: 28px;
      left: -85px;
      top: 4px;
      background-image: url(./static/media/back.958a70c8.png);
      background-size: cover; }
      .OneProject-Content .backButton:hover {
        opacity: 0.8; }
    .OneProject-Content h4 {
      width: 100%; }
    .OneProject-Content p {
      margin-bottom: 50px;
      width: 100%; }
    .OneProject-Content .no {
      margin-top: 0; }
    .OneProject-Content .textContainer {
      display: flex;
      justify-content: center; }
    .OneProject-Content .secondImage {
      margin-bottom: 50px; }

@media screen and (max-width: 1200px) {
  .OneProject {
    align-items: normal; }
    .OneProject-Head {
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: left; }
    .OneProject-Content .backButton {
      display: none; } }

@media screen and (max-width: 830px) {
  .OneProject-Head h3 {
    font-size: 32px; }
  .OneProject .mainImage {
    height: 400px; }
  .OneProject .secondImage {
    width: 440px;
    height: 300px; } }

@media screen and (max-width: 590px) {
  .OneProject-Head h3 {
    font-size: 24px;
    line-height: 32px; }
  .OneProject-Head .StageBlock {
    width: 300px; }
    .OneProject-Head .StageBlock span {
      font-size: 16px; }
    .OneProject-Head .StageBlock .ProgressBar .Circle {
      width: 30px;
      height: 30px; }
    .OneProject-Head .StageBlock .ProgressBar .ProgressBlock .Line {
      left: -40px;
      width: 60px; }
  .OneProject .mainImage {
    margin-top: 25px;
    height: 300px; }
  .OneProject-Content h4 {
    line-height: 22px;
    font-size: 18px; }
  .OneProject-Content p {
    line-height: 29px;
    font-size: 16px; }
  .OneProject-Content .secondImage {
    position: relative;
    width: 250px;
    height: 170px; } }

@media screen and (max-width: 430px) {
  .OneProject-Head {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px; }
    .OneProject-Head h3 {
      font-size: 24px;
      line-height: 32px;
      width: 80%; }
    .OneProject-Head .StageBlock {
      width: 260px; }
      .OneProject-Head .StageBlock span {
        font-size: 16px; }
      .OneProject-Head .StageBlock .ProgressBar {
        margin: 5px 0; }
        .OneProject-Head .StageBlock .ProgressBar .Circle {
          width: 25px;
          height: 25px; }
        .OneProject-Head .StageBlock .ProgressBar .ProgressBlock .Line {
          left: -40px;
          width: 60px;
          height: 4px; }
  .OneProject .mainImage {
    margin-top: 25px;
    height: 250px; }
  .OneProject-Content {
    margin-left: 20px;
    margin-right: 20px; }
    .OneProject-Content h4 {
      font-weight: bold;
      line-height: 18px;
      font-size: 16px; }
    .OneProject-Content p {
      font-weight: 600;
      line-height: 27px;
      font-size: 14px;
      margin-bottom: 40px; }
    .OneProject-Content .secondImage {
      position: relative;
      width: 250px;
      height: 170px; } }

.SendProject {
  position: relative;
  margin: 0 auto;
  width: 950px;
  height: 250px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .SendProject .Square1 {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: rgba(146, 34, 216, 0.8);
    left: 25px;
    z-index: 10; }
  .SendProject .Square2 {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: rgba(0, 95, 249, 0.8);
    left: 100px;
    top: 0; }
  .SendProject .SendProject-Title {
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    z-index: 20; }
  .SendProject a {
    z-index: 20;
    text-decoration: none; }

@media screen and (max-width: 1050px) {
  .SendProject {
    position: relative;
    margin: 0 auto;
    width: 750px;
    height: 200px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .SendProject .Square1 {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: rgba(146, 34, 216, 0.8);
      left: 25px;
      z-index: 10;
      top: 70px; }
    .SendProject .Square2 {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: rgba(0, 95, 249, 0.8);
      left: 80px;
      top: 20px; }
    .SendProject .SendProject-Title {
      margin-bottom: 20px;
      margin-top: 0;
      text-align: center;
      z-index: 20; }
    .SendProject a {
      z-index: 20;
      text-decoration: none; } }

@media screen and (max-width: 800px) {
  .SendProject {
    position: relative;
    margin: 0 auto;
    width: 490px;
    height: 230px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .SendProject p {
      font-size: 20px; }
    .SendProject .Square1 {
      position: absolute;
      width: 65px;
      height: 65px;
      background-color: rgba(146, 34, 216, 0.8);
      left: 5px;
      z-index: 10;
      top: 70px; }
    .SendProject .Square2 {
      position: absolute;
      width: 65px;
      height: 65px;
      background-color: rgba(0, 95, 249, 0.8);
      left: 50px;
      top: 25px; }
    .SendProject .SendProject-Title {
      margin-bottom: 20px;
      margin-top: 0;
      text-align: center;
      z-index: 20; }
    .SendProject a {
      z-index: 20;
      text-decoration: none; } }

@media screen and (max-width: 500px) {
  .SendProject {
    position: relative;
    margin: 0 auto;
    width: 280px;
    height: 130px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .SendProject p {
      font-size: 12px; }
    .SendProject .Square1 {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: rgba(146, 34, 216, 0.8);
      left: 10px;
      z-index: 10;
      top: 35px; }
    .SendProject .Square2 {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: rgba(0, 95, 249, 0.8);
      left: 30px;
      top: 15px; }
    .SendProject .SendProject-Title {
      margin-bottom: 20px;
      margin-top: 0;
      text-align: center;
      z-index: 20; }
    .SendProject a {
      font-size: 12px;
      width: 250px;
      height: 40px;
      z-index: 20;
      text-decoration: none; } }

.AllProjects {
  display: flex;
  justify-content: center;
  padding-bottom: 130px; }
  .AllProjects-Content {
    width: 100%;
    max-width: 1200px; }
  .AllProjects .BgElementsLeft {
    z-index: -10;
    position: absolute;
    margin-top: 120px;
    height: 100%;
    left: 0; }

@keyframes trans1 {
  to {
    transform: rotate(-375deg); } }

@keyframes trans2 {
  0% {
    transform: translate3d(0, 0, 0); }
  25% {
    transform: translate3d(-30px, 0, 0); }
  50% {
    transform: translate3d(-30px, -50px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes trans3 {
  0% {
    transform: translate3d(0, 0, 0); }
  25% {
    transform: translate3d(30px, 0, 0); }
  50% {
    transform: translate3d(30px, 50px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
    .AllProjects .BgElementsLeft .Circle {
      position: absolute;
      width: 215px;
      height: 215px;
      border-radius: 100%;
      background-color: rgba(120, 189, 251, 0.8);
      left: -100px;
      top: 150px;
      z-index: 10;
      animation: trans3 15s infinite linear reverse; }
    .AllProjects .BgElementsLeft .Triangle {
      position: absolute;
      left: -180px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 155px 280px 155px 0;
      border-color: transparent rgba(146, 34, 216, 0.8) transparent transparent;
      transform: rotate(-15deg);
      animation: trans1 30s infinite linear; }
    .AllProjects .BgElementsLeft .Square {
      position: absolute;
      width: 150px;
      height: 150px;
      top: 120px;
      left: 20px;
      background-color: rgba(0, 95, 249, 0.8);
      z-index: 20;
      animation: trans2 12s infinite linear; }

@keyframes trans12 {
  0% {
    transform: translate3d(0, 0, 0); }
  25% {
    transform: translate3d(-30px, 0, 0); }
  50% {
    transform: translate3d(-30px, -50px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes trans22 {
  0% {
    transform: translate3d(0, 0, 0); }
  25% {
    transform: translate3d(-30px, 0, 0); }
  50% {
    transform: translate3d(-30px, -50px, 0); }
  75% {
    transform: translate3d(-30px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes trans32 {
  0% {
    transform: translate3d(0, 0, 0) rotate(90deg); }
  50% {
    transform: translate3d(50px, 0, 0) rotate(90deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(90deg); } }
  .AllProjects .BgElementsRight {
    z-index: -10;
    position: absolute;
    margin-top: 140px;
    right: 0;
    height: 100%; }
    .AllProjects .BgElementsRight .Circle {
      position: absolute;
      width: 190px;
      height: 190px;
      left: -100px;
      top: 110px;
      border-radius: 100%;
      background-color: rgba(0, 95, 249, 0.7);
      z-index: 20;
      animation: trans2 12s infinite linear reverse; }
    .AllProjects .BgElementsRight .Triangle {
      position: absolute;
      width: 0;
      height: 0;
      left: -220px;
      top: -30px;
      border-style: solid;
      border-width: 135px 220px 135px 0;
      border-color: transparent rgba(255, 59, 221, 0.8) transparent transparent;
      transform: rotate(90deg);
      z-index: 10;
      animation: trans32 10s infinite linear; }
    .AllProjects .BgElementsRight .Square {
      position: absolute;
      width: 140px;
      height: 140px;
      left: -80px;
      top: 30px;
      background-color: rgba(146, 34, 216, 0.8);
      animation: trans22 15s infinite linear; }

@media screen and (max-width: 900px) {
  .AllProjects {
    padding-top: 40px; }
    .AllProjects .BgElementsLeft {
      z-index: -10;
      display: none;
      margin-top: 120px;
      height: 100%;
      left: 0; }
    .AllProjects .BgElementsRight {
      z-index: -10;
      display: none;
      margin-top: 120px;
      height: 100%;
      left: 0; } }

@media screen and (max-width: 400px) {
  .AllProjects {
    padding-top: 0; }
    .AllProjects .BgElementsLeft {
      z-index: -10;
      display: none;
      margin-top: 120px;
      height: 100%;
      left: 0; }
    .AllProjects .BgElementsRight {
      z-index: -10;
      display: none;
      margin-top: 120px;
      height: 100%;
      left: 0; } }

.Logotypes {
  display: flex;
  justify-content: left;
  margin-left: 110px;
  z-index: 50;
  margin-top: 140px;
  padding-bottom: 40px; }
  .Logotypes .LogoF {
    margin-top: 50px; }
  .Logotypes .LogoI {
    margin-top: 120px;
    margin-left: 35px; }
  .Logotypes .LogoA {
    margin-left: 55px;
    margin-top: 80px; }
  .Logotypes .LogoD {
    margin-left: 80px;
    margin-top: 15px; }
  .Logotypes .LogoO {
    margin-left: 15px;
    margin-top: 125px; }
  .Logotypes .LogoAR {
    margin-left: 50px;
    margin-top: 25px; }
  .Logotypes .LogoB {
    margin-left: 35px;
    margin-top: 125px; }

@media screen and (max-width: 1200px) {
  .Logotypes {
    transform: scale(0.8); } }

@media screen and (max-width: 900px) {
  .Logotypes {
    display: none; } }

.ProjectsCards {
  padding-bottom: 65px; }
  .ProjectsCards .Cards {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    justify-content: space-between;
    grid-gap: 17px;
    margin-top: 45px; }
    .ProjectsCards .Cards .ProjectCard {
      position: relative;
      width: 390px;
      height: 420px;
      background-color: white;
      border-radius: 10px;
      margin: 0;
      top: 0;
      transition: top 300ms;
      text-decoration: none; }
      .ProjectsCards .Cards .ProjectCard:hover {
        top: -3px;
        cursor: pointer;
        transition: top 300ms; }
        .ProjectsCards .Cards .ProjectCard:hover .ShadowBlock {
          box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
      .ProjectsCards .Cards .ProjectCard .ShadowBlock {
        position: absolute;
        height: 370px;
        width: 360px;
        margin-top: 30px;
        margin-left: 15px;
        box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        z-index: -10; }
      .ProjectsCards .Cards .ProjectCard .Img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; }
      .ProjectsCards .Cards .ProjectCard h4 {
        margin: 10px 8px;
        min-height: 76px; }
      .ProjectsCards .Cards .ProjectCard .StageBlock {
        margin: 25px 8px 0 8px; }
        .ProjectsCards .Cards .ProjectCard .StageBlock span {
          color: #003995;
          text-align: left; }

@media screen and (max-width: 1200px) {
  .ProjectsCards {
    padding-top: 140px;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .ProjectsCards h2 {
      width: 500px; }
    .ProjectsCards .Cards {
      justify-content: space-around;
      grid-template-columns: repeat(2, 390px); } }

@media screen and (max-width: 830px) {
  .ProjectsCards {
    padding-top: 150px;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .ProjectsCards h2 {
      text-align: center;
      position: relative;
      line-height: 34px;
      font-size: 34px; }
    .ProjectsCards .Cards {
      justify-content: space-around;
      grid-template-columns: repeat(1, 390px); } }

@media screen and (max-width: 500px) {
  .ProjectsCards {
    padding-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .ProjectsCards h2 {
      text-align: center;
      position: relative;
      line-height: 26px;
      font-size: 24px; }
    .ProjectsCards .Cards {
      display: grid;
      grid-template-columns: repeat(1, 360px);
      grid-gap: 17px;
      margin-top: 45px; }
      .ProjectsCards .Cards .ProjectCard {
        position: relative;
        width: 360px;
        height: 290px;
        background-color: white;
        border-radius: 10px;
        margin: 0;
        top: 0;
        transition: top 300ms; }
        .ProjectsCards .Cards .ProjectCard:nth-child(2) {
          margin: 25px 0 25px 0; }
        .ProjectsCards .Cards .ProjectCard:hover {
          top: -3px;
          cursor: pointer;
          transition: top 300ms; }
          .ProjectsCards .Cards .ProjectCard:hover .ShadowBlock {
            box-shadow: 7px 7px 60px rgba(0, 0, 0, 0.15), -7px 0px 60px rgba(0, 0, 0, 0.15); }
        .ProjectsCards .Cards .ProjectCard .ShadowBlock {
          position: absolute;
          height: 250px;
          width: 340px;
          margin-top: 30px;
          margin-left: 15px;
          box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          z-index: -10; }
        .ProjectsCards .Cards .ProjectCard .Img {
          height: 170px;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px; }
        .ProjectsCards .Cards .ProjectCard h4 {
          margin: 0px 8px;
          min-height: 76px;
          font-size: 20px; }
        .ProjectsCards .Cards .ProjectCard .StageBlock {
          margin: -40px 8px 0 8px; }
          .ProjectsCards .Cards .ProjectCard .StageBlock span {
            color: #003995;
            text-align: left;
            font-size: 14px;
            position: relative;
            left: 2px; }
          .ProjectsCards .Cards .ProjectCard .StageBlock .ProgressBar {
            display: flex;
            justify-content: space-between;
            margin: 5px 0; } }

@media screen and (max-width: 400px) {
  .ProjectsCards {
    padding-top: 70px;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .ProjectsCards h2 {
      text-align: center;
      position: relative;
      line-height: 26px;
      font-size: 24px; }
    .ProjectsCards .Cards {
      display: grid;
      grid-template-columns: repeat(1, 280px);
      grid-gap: 17px;
      margin-top: 45px; }
      .ProjectsCards .Cards .ProjectCard {
        width: 280px;
        height: 320px; }
        .ProjectsCards .Cards .ProjectCard:nth-child(2) {
          margin: 0;
          margin-top: 15px; }
        .ProjectsCards .Cards .ProjectCard .ShadowBlock {
          width: 250px;
          height: 270px; }
        .ProjectsCards .Cards .ProjectCard .Img {
          height: 150px; }
        .ProjectsCards .Cards .ProjectCard h4 {
          font-size: 20px; }
        .ProjectsCards .Cards .ProjectCard .StageBlock {
          margin: 5px 8px 0 8px; }
          .ProjectsCards .Cards .ProjectCard .StageBlock span {
            font-size: 14px; }
          .ProjectsCards .Cards .ProjectCard .StageBlock .ProgressBar {
            display: flex;
            justify-content: space-between;
            margin: 10px 0; }
            .ProjectsCards .Cards .ProjectCard .StageBlock .ProgressBar .Circle {
              width: 20px;
              height: 20px;
              border-radius: 100%;
              z-index: 10; }
            .ProjectsCards .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock {
              position: relative;
              display: flex;
              align-items: center; }
              .ProjectsCards .Cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock .Line {
                position: absolute;
                width: 60px;
                height: 4px;
                right: 15px; } }

@media screen and (max-width: 330px) {
  .ProjectsCards {
    transform: scale(0.9); } }

.Direction {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  position: relative; }
  .Direction .ShadowWrapperContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; }
    .Direction .ShadowWrapperContainer .ShadowWrapper {
      position: absolute;
      width: 100%;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.56);
      height: 100%;
      display: flex; }
    .Direction .ShadowWrapperContainer .SubscribeWindow {
      width: 530px;
      height: 316px;
      background-color: white;
      position: fixed;
      top: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      z-index: 120; }
      .Direction .ShadowWrapperContainer .SubscribeWindow .error_message {
        position: absolute;
        color: red;
        max-width: 300px;
        z-index: 20;
        line-height: normal;
        top: 0;
        word-wrap: break-word; }
      .Direction .ShadowWrapperContainer .SubscribeWindow input {
        width: 315px;
        height: 30px;
        border: none;
        border-bottom: 2px solid #767676;
        margin-bottom: 40px; }
        .Direction .ShadowWrapperContainer .SubscribeWindow input.active {
          color: #1A1A1A;
          border-bottom: 2px solid #1A1A1A; }
        .Direction .ShadowWrapperContainer .SubscribeWindow input:focus {
          border-bottom: 2px solid #005FF9;
          color: #005FF9; }
  .Direction-Content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 130px 20px 0 20px; }
    .Direction-Content .Info {
      margin-top: 80px;
      max-width: 920px;
      width: 100%; }
      .Direction-Content .Info .direction-header {
        display: flex;
        justify-content: space-between;
        max-width: 915px;
        width: 100%;
        margin-bottom: 50px; }
        .Direction-Content .Info .direction-header h2 {
          max-width: 500px; }
      .Direction-Content .Info .choose-buttons {
        display: flex; }
        .Direction-Content .Info .choose-buttons h4 {
          color: #005FF9; }
        .Direction-Content .Info .choose-buttons button {
          padding: 0 0 3px 0;
          margin-right: 40px;
          border-bottom: 3px solid #005FF9; }
          .Direction-Content .Info .choose-buttons button.unactive {
            border-bottom: 3px solid transparent; }
            .Direction-Content .Info .choose-buttons button.unactive h4 {
              color: #767676; }
  .Direction .BgElementsLeft {
    z-index: -10;
    position: absolute;
    left: 0;
    margin-top: 90px;
    height: 100%; }

@keyframes tr1 {
  to {
    transform: rotate(360deg); } }

@keyframes tr2 {
  0% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(-10deg); } }

@keyframes tr3 {
  0% {
    transform: rotate(45deg); }
  33% {
    transform: rotate(225deg); }
  66% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(-135deg); } }

@keyframes tr4 {
  0% {
    transform: rotate(-40deg); }
  50% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(-40deg); } }
    .Direction .BgElementsLeft .Circle1 {
      position: absolute;
      width: 140px;
      height: 140px;
      border-radius: 100%;
      background-color: rgba(120, 189, 251, 0.8);
      top: 100px;
      left: 20px;
      transform-origin: 50% 45%;
      animation: tr1 5s infinite linear; }
    .Direction .BgElementsLeft .Circle2 {
      position: absolute;
      width: 140px;
      height: 140px;
      border-radius: 100%;
      background-color: #005FF9;
      opacity: 0.7;
      top: 170px;
      left: -40px;
      transform-origin: 45% 50%;
      animation: tr1 7s infinite linear reverse; }
    .Direction .BgElementsLeft .Triangle {
      position: absolute;
      top: 150px;
      left: -40px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 125px 190px 125px 0;
      border-color: transparent rgba(146, 34, 216, 0.7) transparent transparent;
      opacity: 0.8;
      transform: rotate(-10deg);
      animation: 10s tr2 infinite linear; }
    .Direction .BgElementsLeft .Square {
      position: absolute;
      width: 160px;
      height: 160px;
      top: 300px;
      left: -30px;
      background-color: #FF3BDD;
      opacity: 0.7;
      transform: rotate(45deg);
      animation: 40s tr3 infinite linear; }
  .Direction .BgElementsRight {
    z-index: -10;
    position: absolute;
    margin-top: 180px;
    right: 0;
    height: 100%; }
    .Direction .BgElementsRight .Circle1 {
      position: absolute;
      width: 220px;
      height: 220px;
      border-radius: 100%;
      background-color: rgba(0, 95, 249, 0.7);
      left: -180px;
      transform-origin: 50% 45%;
      animation: tr1 10s infinite linear reverse; }
    .Direction .BgElementsRight .Circle2 {
      position: absolute;
      width: 210px;
      height: 210px;
      border-radius: 100%;
      background-color: rgba(120, 189, 251, 0.8);
      top: 180px;
      left: -220px;
      transform-origin: 45% 50%;
      animation: tr1 7s infinite linear; }
    .Direction .BgElementsRight .Circle3 {
      position: absolute;
      width: 110px;
      height: 110px;
      border-radius: 100%;
      background-color: rgba(120, 189, 251, 0.8);
      top: 430px;
      left: -50px;
      transform-origin: 45% 45%;
      animation: tr1 7s infinite linear reverse; }
    .Direction .BgElementsRight .Triangle {
      position: absolute;
      top: 150px;
      left: -260px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 125px 190px 125px 0;
      border-color: transparent rgba(255, 59, 221, 0.8) transparent transparent;
      transform: rotate(-40deg);
      z-index: 10;
      animation: 15s tr4 infinite linear; }
    .Direction .BgElementsRight .Square {
      position: absolute;
      width: 200px;
      height: 200px;
      top: 250px;
      left: -130px;
      background-color: rgba(146, 34, 216, 0.8);
      opacity: 0.7;
      transform: rotate(45deg);
      animation: 50s tr3 infinite linear reverse; }

@media screen and (max-width: 1000px) {
  .Direction {
    padding-bottom: 50px; }
    .Direction-Content .Info h2 {
      font-size: 44px; }
    .Direction-Content .Info div .Text {
      line-height: 27px;
      font-size: 18px; }
      .Direction-Content .Info div .Text .paragraph4 {
        line-height: 27px;
        font-size: 18px; }
    .Direction-Content .Info .Subscribe .smallButton {
      width: 200px;
      height: 50px; }
    .Direction-Content .Info .Subscribe h5 {
      font-size: 20px; }
    .Direction-Content .Info .Questions h5 {
      font-size: 20px; }
    .Direction-Content .Info .Questions p {
      font-size: 16px; }
    .Direction-Content .Info .Tutors h3 {
      font-size: 45px; }
    .Direction-Content .Ai {
      width: 100%;
      margin: 0 20px; }
      .Direction-Content .Ai h2 {
        width: 400px;
        margin-top: 100px; }
      .Direction-Content .Ai h3 {
        margin: 220px auto;
        text-align: center;
        color: #AFAFAF; } }

@media screen and (max-width: 800px) {
  .Direction-Content .Info h2 {
    font-size: 40px;
    width: 300px; }
  .Direction-Content .Info div .Text {
    line-height: 27px;
    font-size: 16px; }
    .Direction-Content .Info div .Text .paragraph4 {
      line-height: 27px;
      font-size: 16px; }
  .Direction-Content .Info .Subscribe .smallButton {
    width: 280px;
    height: 45px; }
  .Direction-Content .Info .Subscribe h5 {
    font-size: 16px;
    max-width: 300px; }
  .Direction-Content .Info .Olimpiad .OpCard h5 {
    font-size: 18px; }
  .Direction-Content .Info .Tutors .Cards .TutorCard .Titles h5 {
    font-size: 22px; }
  .Direction-Content .Info .Tutors .Cards .TutorCard .Titles p {
    font-size: 16px; }
  .Direction-Content .Ai h2 {
    width: 260px;
    margin-top: 60px;
    line-height: 32px;
    font-size: 32px; }
  .Direction-Content .Ai h3 {
    margin: 220px auto;
    text-align: center;
    color: #AFAFAF;
    line-height: 22px;
    font-size: 24px; }
  .Direction .BgElementsLeft {
    display: none; }
  .Direction .BgElementsRight {
    display: none; } }

@media screen and (max-width: 700px) {
  .Direction .ShadowWrapperContainer .SubscribeWindow {
    width: 260px;
    height: 260px; }
    .Direction .ShadowWrapperContainer .SubscribeWindow input {
      width: 80%; }
    .Direction .ShadowWrapperContainer .SubscribeWindow .smallButton {
      width: 80%;
      height: 36px; }
  .Direction-Content .Info h2 {
    font-size: 25px;
    line-height: 32px;
    width: 200px; }
  .Direction-Content .Info .direction-header {
    margin-bottom: 30px; }
  .Direction-Content .Info div .Text {
    line-height: 27px;
    font-size: 14px; }
    .Direction-Content .Info div .Text .paragraph4 {
      line-height: 27px;
      font-size: 14px; }
  .Direction-Content .Info .Subscribe .smallButton {
    width: 280px;
    height: 45px; }
  .Direction-Content .Info .Subscribe h5 {
    font-size: 16px;
    max-width: 300px; }
  .Direction-Content .Info .choose-buttons h4 {
    font-size: 16px;
    line-height: 20px; }
  .Direction-Content .Info .Olimpiad {
    margin: 40px 0; }
    .Direction-Content .Info .Olimpiad .OpCard .Icon {
      height: 20px;
      width: 20px;
      background-size: contain;
      margin-right: 15px; }
    .Direction-Content .Info .Olimpiad .OpCard h5 {
      font-size: 16px; }
  .Direction-Content .Info .Questions h5 {
    font-size: 16px; }
  .Direction-Content .Info .Questions p {
    font-size: 14px; }
  .Direction-Content .Info .Tutors h3 {
    font-size: 35px; }
  .Direction-Content .Info .Tutors .Cards {
    display: flex;
    flex-direction: column; }
    .Direction-Content .Info .Tutors .Cards .TutorCard {
      margin-bottom: 28px; }
      .Direction-Content .Info .Tutors .Cards .TutorCard .Titles h5 {
        font-size: 22px; }
      .Direction-Content .Info .Tutors .Cards .TutorCard .Titles p {
        font-size: 16px; } }

@media screen and (max-width: 550px) {
  .Direction-Content .Info {
    margin-top: 0; }
    .Direction-Content .Info .direction-header {
      flex-direction: column; }
      .Direction-Content .Info .direction-header h2 {
        margin-bottom: 20px; }
      .Direction-Content .Info .direction-header .navigation-menu .navigation-menu__select {
        height: 40px; }
      .Direction-Content .Info .direction-header .navigation-menu .navigation-menu__window {
        margin-top: 40px; }
        .Direction-Content .Info .direction-header .navigation-menu .navigation-menu__window .nav-link {
          padding: 5px 25px;
          font-size: 14px;
          text-decoration: none;
          cursor: pointer; }
          .Direction-Content .Info .direction-header .navigation-menu .navigation-menu__window .nav-link:hover {
            background-color: #EBEBEB; }
          .Direction-Content .Info .direction-header .navigation-menu .navigation-menu__window .nav-link:nth-last-child(1) {
            border-radius: 0 0 10px 10px; }
    .Direction-Content .Info .Subscribe {
      display: flex;
      flex-direction: column;
      align-items: normal; }
      .Direction-Content .Info .Subscribe .smallButton {
        width: 280px;
        height: 45px;
        margin-top: 15px; }
      .Direction-Content .Info .Subscribe h5 {
        font-size: 16px;
        max-width: 300px; }
    .Direction-Content .Info .Tutors .Cards {
      display: flex;
      flex-direction: column; }
      .Direction-Content .Info .Tutors .Cards .TutorCard {
        margin-bottom: 28px; }
        .Direction-Content .Info .Tutors .Cards .TutorCard .Img {
          width: 60px;
          height: 60px; }
        .Direction-Content .Info .Tutors .Cards .TutorCard .Titles h5 {
          font-size: 18px; }
        .Direction-Content .Info .Tutors .Cards .TutorCard .Titles p {
          font-size: 14px; } }

.navigation-menu {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  z-index: 50; }
  .navigation-menu .navigation-menu__select {
    width: 100%;
    height: 58px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 10px;
    text-align: left; }
    .navigation-menu .navigation-menu__select .paragraph6 {
      font-size: 14px; }
    .navigation-menu .navigation-menu__select .SeeMore {
      height: 10px;
      width: 19px;
      display: flex;
      align-items: center;
      position: relative;
      transform: rotate(0); }
      .navigation-menu .navigation-menu__select .SeeMore.active {
        transform: rotate(-180deg); }
        .navigation-menu .navigation-menu__select .SeeMore.active .left {
          background-color: #337FFA; }
        .navigation-menu .navigation-menu__select .SeeMore.active .right {
          background-color: #337FFA; }
      .navigation-menu .navigation-menu__select .SeeMore .left {
        width: 12px;
        height: 4px;
        background-color: #484848;
        transform: rotate(40deg);
        position: absolute;
        left: 0;
        border-radius: 6px 0 5px 6px; }
      .navigation-menu .navigation-menu__select .SeeMore .right {
        width: 12px;
        height: 4px;
        background-color: #484848;
        transform: rotate(-40deg);
        position: absolute;
        left: 8px;
        border-radius: 0 6px 6px 5px; }
  .navigation-menu .navigation-menu__window {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 58px;
    background-color: #F4F4F4;
    border-radius: 0 0 10px 10px; }
    .navigation-menu .navigation-menu__window .nav-link {
      padding: 10px 25px;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer; }
      .navigation-menu .navigation-menu__window .nav-link:hover {
        background-color: #EBEBEB; }
      .navigation-menu .navigation-menu__window .nav-link:nth-last-child(1) {
        border-radius: 0 0 10px 10px; }
  .navigation-menu.opened .navigation-menu__select {
    border-radius: 10px 10px 0 0; }
  .navigation-menu.opened .navigation-menu__window {
    display: flex; }

.for-students {
  margin-top: 40px; }
  .for-students h4 {
    color: #004CC7; }
  .for-students .OpenDate {
    margin: 20px 0; }
    .for-students .OpenDate h4 {
      color: #337FFA; }
  .for-students .Subscribe {
    display: flex;
    align-items: center; }
    .for-students .Subscribe h5 {
      max-width: 430px;
      color: #767676;
      margin-right: 20px; }
  .for-students .olimpiad {
    margin: 50px 0; }
    .for-students .olimpiad .op-card {
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .for-students .olimpiad .op-card .icon {
        width: 33px;
        height: 33px;
        background: url(./static/media/Cup.7f1c4d52.png) center no-repeat;
        margin-right: 25px; }
  .for-students .Questions {
    margin-top: 55px; }
    .for-students .Questions h5 {
      color: #581482;
      margin-top: 20px; }
    .for-students .Questions p {
      margin-top: 0; }
  .for-students .Tutors {
    margin-top: 50px; }
    .for-students .Tutors .Cards {
      margin-top: 50px;
      display: flex; }
      .for-students .Tutors .Cards .TutorCard {
        display: flex;
        margin-right: 20px;
        flex-wrap: wrap; }
        .for-students .Tutors .Cards .TutorCard .Img {
          border-radius: 100%;
          box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1); }
        .for-students .Tutors .Cards .TutorCard .Titles {
          margin-left: 30px; }
          .for-students .Tutors .Cards .TutorCard .Titles h5 {
            color: #003995; }
          .for-students .Tutors .Cards .TutorCard .Titles p {
            margin: 5px 0 0 0; }

@media screen and (max-width: 450px) {
  .for-students {
    margin-top: 40px; }
    .for-students .OpenDate {
      margin: 20px 0; }
    .for-students .Subscribe {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .for-students .Subscribe h5 {
        max-width: 430px;
        margin-right: 20px;
        font-size: 16px;
        line-height: 22px; }
      .for-students .Subscribe .smallButton {
        width: 100%;
        height: 40px;
        margin-top: 20px; }
    .for-students .Text p {
      font-size: 14px;
      line-height: 27px; }
    .for-students .olimpiad {
      margin: 50px 0; }
      .for-students .olimpiad .op-card {
        display: flex;
        align-items: center;
        margin-bottom: 20px; }
        .for-students .olimpiad .op-card .icon {
          height: 20px;
          width: 20px;
          background-size: contain;
          margin-right: 15px; }
        .for-students .olimpiad .op-card h5 {
          font-size: 14px;
          line-height: 18px;
          width: 250px; }
    .for-students .Questions {
      margin-top: 55px; }
      .for-students .Questions h5 {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px; }
      .for-students .Questions p {
        margin-top: 0;
        font-size: 14px;
        line-height: 21px; }
    .for-students .Tutors {
      margin-top: 20px; }
      .for-students .Tutors h3 {
        font-size: 25px; }
      .for-students .Tutors .Cards {
        margin-top: 20px;
        display: flex; }
        .for-students .Tutors .Cards .TutorCard {
          display: flex;
          margin-right: 20px;
          flex-wrap: wrap; }
          .for-students .Tutors .Cards .TutorCard .Img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1), -7px 0px 50px rgba(0, 0, 0, 0.1); }
          .for-students .Tutors .Cards .TutorCard .Titles {
            margin-left: 10px;
            width: 200px; }
            .for-students .Tutors .Cards .TutorCard .Titles h5 {
              font-size: 16px;
              line-height: 22px; }
            .for-students .Tutors .Cards .TutorCard .Titles p {
              margin: 5px 0 0 0;
              font-size: 14px;
              line-height: 21px; } }

.DirectionForm {
  margin-top: 120px;
  position: relative; }
  .DirectionForm .error_message {
    position: absolute;
    color: red;
    max-width: 300px;
    z-index: 20;
    line-height: normal;
    top: -50px;
    word-wrap: break-word; }
  .DirectionForm form {
    display: flex;
    flex-wrap: wrap;
    max-width: 720px;
    margin-top: 60px;
    justify-content: space-between; }
    .DirectionForm form input {
      width: 315px;
      height: 30px;
      border: none;
      border-bottom: 2px solid #767676;
      margin-bottom: 40px; }
      .DirectionForm form input.active {
        color: #1A1A1A;
        border-bottom: 2px solid #1A1A1A; }
      .DirectionForm form input:focus {
        border-bottom: 2px solid #005FF9;
        color: #005FF9; }
  .DirectionForm button {
    margin-top: 10px; }

@media screen and (max-width: 810px) {
  .DirectionForm {
    margin-top: 40px; }
    .DirectionForm form {
      display: flex;
      flex-direction: column;
      max-width: 315px;
      justify-content: space-between; }
      .DirectionForm form input {
        width: 315px;
        height: 30px;
        border: none;
        border-bottom: 2px solid #767676;
        margin-bottom: 40px; }
        .DirectionForm form input.active {
          color: #1A1A1A;
          border-bottom: 2px solid #1A1A1A; }
        .DirectionForm form input:focus {
          border-bottom: 2px solid #005FF9;
          color: #005FF9; }
    .DirectionForm button {
      margin-top: 10px;
      width: 315px;
      height: 36px;
      font-size: 14px;
      border-radius: 3px; } }

@media screen and (max-width: 420px) {
  .DirectionForm {
    margin-top: 40px; }
    .DirectionForm h2 {
      font-size: 25px; }
    .DirectionForm form {
      display: flex;
      flex-direction: column;
      max-width: 285px;
      justify-content: space-between; }
      .DirectionForm form input {
        width: 285px;
        height: 28px;
        border: none;
        border-bottom: 2px solid #767676;
        margin-bottom: 40px; }
        .DirectionForm form input.active {
          color: #1A1A1A;
          border-bottom: 2px solid #1A1A1A; }
        .DirectionForm form input:focus {
          border-bottom: 2px solid #005FF9;
          color: #005FF9; }
    .DirectionForm button {
      margin-top: 10px;
      width: 285px;
      height: 34px;
      font-size: 13px;
      border-radius: 3px; } }

.direction-description {
  max-width: 915px;
  margin-top: 15px; }
  .direction-description .our-projects {
    margin-top: 100px; }
    .direction-description .our-projects .projects-cards {
      display: flex;
      margin: 70px 0; }
    .direction-description .our-projects .mediumButton {
      text-decoration: none; }

@media screen and (max-width: 870px) {
  .direction-description .our-projects .projects-cards {
    flex-direction: column; }
    .direction-description .our-projects .projects-cards .ProjectCard:nth-child(2) {
      margin: 0;
      margin-top: 15px; } }

@media screen and (max-width: 520px) {
  .direction-description .our-projects {
    margin: 30px 0; }
    .direction-description .our-projects h2 {
      font-size: 30px;
      margin: 0; }
    .direction-description .our-projects .projects-cards {
      flex-direction: column;
      margin-top: 10px; }
      .direction-description .our-projects .projects-cards .ProjectCard:nth-child(2) {
        margin: 0;
        margin-top: 15px; } }

@media screen and (max-width: 430px) {
  .direction-description .paragraph4 {
    font-size: 14px;
    line-height: 27px; }
  .direction-description .our-projects {
    margin: 30px 0; }
    .direction-description .our-projects h2 {
      font-size: 30px;
      margin: 0; }
    .direction-description .our-projects .projects-cards {
      flex-direction: column;
      margin-top: 10px; }
      .direction-description .our-projects .projects-cards .ProjectCard {
        width: 280px;
        height: 320px; }
        .direction-description .our-projects .projects-cards .ProjectCard:nth-child(2) {
          margin: 0;
          margin-top: 15px; }
        .direction-description .our-projects .projects-cards .ProjectCard .ShadowBlock {
          width: 250px;
          height: 270px; }
        .direction-description .our-projects .projects-cards .ProjectCard .Img {
          height: 150px; }
        .direction-description .our-projects .projects-cards .ProjectCard h4 {
          font-size: 20px; }
        .direction-description .our-projects .projects-cards .ProjectCard .StageBlock {
          margin: 5px 8px 0 8px; }
          .direction-description .our-projects .projects-cards .ProjectCard .StageBlock span {
            font-size: 14px; }
          .direction-description .our-projects .projects-cards .ProjectCard .StageBlock .ProgressBar {
            display: flex;
            justify-content: space-between;
            margin: 10px 0; }
            .direction-description .our-projects .projects-cards .ProjectCard .StageBlock .ProgressBar .Circle {
              width: 20px;
              height: 20px;
              border-radius: 100%;
              z-index: 10; }
            .direction-description .our-projects .projects-cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock {
              position: relative;
              display: flex;
              align-items: center; }
              .direction-description .our-projects .projects-cards .ProjectCard .StageBlock .ProgressBar .ProgressBlock .Line {
                position: absolute;
                width: 60px;
                height: 4px;
                right: 15px; }
    .direction-description .our-projects .mediumButton {
      width: 100%;
      height: 50px; } }

.OrderProject {
  position: relative;
  padding-top: 140px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .OrderProject-Content {
    width: 100%;
    box-sizing: border-box; }
    .OrderProject-Content a {
      color: #005FF9;
      text-decoration: none; }
    .OrderProject-Content form {
      margin-top: 60px;
      width: 75%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px; }
      .OrderProject-Content form input {
        width: 315px;
        height: 32px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #767676; }
        .OrderProject-Content form input.active {
          color: #1A1A1A;
          border-bottom: 2px solid #1A1A1A; }
        .OrderProject-Content form input:focus {
          border-bottom: 2px solid #005FF9;
          color: #005FF9; }
    .OrderProject-Content .paragraph4 {
      margin: 40px 0 19px 0; }
    .OrderProject-Content .one {
      min-height: 249px;
      max-height: 249px; }
    .OrderProject-Content .two {
      min-height: 169px;
      max-height: 169px; }
    .OrderProject-Content textarea {
      font-size: 15px;
      outline: none;
      min-width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      padding: 18px 18px 18px 30px;
      border: 2px solid #AFAFAF;
      border-radius: 5px;
      margin: 0; }
      .OrderProject-Content textarea.active {
        color: #1A1A1A;
        border: 2px solid #1A1A1A; }
      .OrderProject-Content textarea:focus {
        border: 2px solid #005FF9;
        color: #005FF9; }
    .OrderProject-Content .addContainer {
      position: relative; }
      .OrderProject-Content .addContainer .error_message {
        position: absolute;
        color: red;
        max-width: 300px;
        z-index: 20;
        line-height: normal;
        top: -80px; }
      .OrderProject-Content .addContainer .AddFile {
        position: relative;
        overflow: hidden;
        margin: 70px 0 12px 0;
        border: 4px solid #005FF9;
        width: 298px;
        height: 64px;
        border-radius: 15px; }
        .OrderProject-Content .addContainer .AddFile label {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          .OrderProject-Content .addContainer .AddFile label input {
            display: none; }
          .OrderProject-Content .addContainer .AddFile label .ImageAdd {
            background: url(./static/media/add.bb21931b.png);
            height: 28px;
            width: 28px;
            margin-right: 13px; }
          .OrderProject-Content .addContainer .AddFile label .paragraph4 {
            color: #005FF9;
            display: flex;
            flex-direction: column;
            line-height: 20px;
            margin-top: 22px; }
    .OrderProject-Content .FilesList {
      margin: 0 0 51px 0; }
      .OrderProject-Content .FilesList .Item {
        display: flex;
        align-items: center; }
        .OrderProject-Content .FilesList .Item .paragraph5 {
          margin: 0; }
        .OrderProject-Content .FilesList .Item .Delete {
          background: url(./static/media/delite.70073d3b.png);
          height: 14px;
          width: 14px;
          margin: 0 0 0 10px;
          cursor: pointer; }
          .OrderProject-Content .FilesList .Item .Delete:hover {
            background: url(./static/media/delete2.6fee82aa.png); }
    .OrderProject-Content .mediumButton {
      margin: 0 0 110px 0; }

@media screen and (max-width: 750px) {
  .OrderProject-Content {
    margin: 0 20px; }
    .OrderProject-Content form {
      grid-gap: 30px 15px; }
      .OrderProject-Content form input {
        width: 280px; } }

@media screen and (max-width: 650px) {
  .OrderProject-Content form {
    grid-gap: 30px 15px;
    grid-template-columns: 1fr; }
    .OrderProject-Content form input {
      width: 280px; } }

@media screen and (max-width: 470px) {
  .OrderProject-Content h3 {
    line-height: 26px;
    font-size: 24px; }
  .OrderProject-Content form {
    margin-top: 30px;
    grid-gap: 30px 15px;
    grid-template-columns: 1fr; }
    .OrderProject-Content form input {
      width: 260px;
      height: 25px; }
  .OrderProject-Content .paragraph4 {
    line-height: 27px;
    font-size: 14px; }
  .OrderProject-Content .AddFile {
    margin: 30px 0 0 0;
    border: 2px solid #005FF9;
    width: 170px !important;
    height: 40px; }
    .OrderProject-Content .AddFile label .ImageAdd {
      height: 13px;
      width: 13px;
      background-size: contain; }
    .OrderProject-Content .AddFile label .paragraph4 {
      line-height: normal;
      font-size: 12px; }
  .OrderProject-Content .FilesList .Item .paragraph5 {
    font-size: 12px; }
  .OrderProject-Content .mediumButton {
    margin: 30px 0 85px 0;
    width: 100%;
    height: 40px;
    font-size: 14px; } }

.Enter {
  min-height: 60vh; }
  .Enter .InputWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
    position: relative; }
    .Enter .InputWindow #message {
      color: red;
      position: absolute;
      top: -60px;
      width: 350px; }
    .Enter .InputWindow .Switch button {
      height: 30px;
      font-size: 16px; }
      .Enter .InputWindow .Switch button:hover {
        color: #337FFA;
        opacity: 0.5; }
    .Enter .InputWindow input {
      height: 30px;
      width: 300px;
      margin-top: 20px;
      padding: 0 10px;
      border-radius: 6px; }
    .Enter .InputWindow .RegForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .Enter .InputWindow .RegForm .regSubmit {
        width: 180px;
        height: 35px;
        margin-top: 20px; }
    .Enter .InputWindow .EnterForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .Enter .InputWindow .EnterForm .enterSubmit {
        width: 180px;
        height: 35px;
        margin-top: 20px; }

.SubmitMessage {
  padding: 200px 0;
  text-align: center; }

